@use "../helpers/mixin";
@use "sass:map";

$alert-variants: (
        information: (bg: var(--blue-50), border: var(--blue-600)),
        discovery: (bg: var(--purple-50), border: var(--purple-400)),
        success: (bg: var(--green-50), border: var(--green-600)),
        warning: (bg: var(--yellow-50), border: var(--yellow-800)),
        error: (bg: var(--red-50), border: var(--red-800)),
);

.alert {
  padding: var(--space-12) var(--space-20);

  // Elements
  &__content {
    @include mixin.flexbox;
  }

  &__text {
    flex: 1;
  }

  // Modifiers
  &--inline {
    border: 1px solid;
    border-radius: var(--border-radius-8);

    .alert__content {
      @include mixin.align-items(flex-start);
    }

    .alert__actions {
      margin-top: var(--space-12);
    }
  }

  &--sticky {
    .alert__content {
      @include mixin.align-items(center);
    }

    .alert__text {
      @include mixin.flexbox;
      @include mixin.justify-content(space-between);
      @include mixin.align-items(center);
    }

    .alert__actions {
      margin-left: var(--space-8);
      white-space: nowrap;
    }
  }

  // Variants generated from a map
  @each $name, $vals in $alert-variants {
    &--#{$name} {
      background-color: map.get($vals, bg);
      border-color: map.get($vals, border);
    }
  }
}
