@use "../helpers/mixin";

.alert {
  $this: &;
  
  padding: var(--ds-space-12) var(--ds-space-20);

  &--inline {
    border: 1px solid;
    border-radius: var(--ds-border-radius-md);

    #{$this}__content {
      @include mixin.align-items(flex-start);
    }
    #{$this}__actions {
      margin-top: var(--ds-space-12);
    }
  }

  &--sticky {
    #{$this}__content {
      @include mixin.align-items(center);
    }
    #{$this}__text {
      @include mixin.flexbox;
      @include mixin.justify-content(space-between);
      @include mixin.align-items(center);
    }
    #{$this}__actions {
      margin-left: var(--ds-space-8);
      white-space: nowrap;
    }
  }

  &--information {
    background-color: var(--blue-50);
    border-color: var(--blue-600);
  }

  &--discovery {
    background-color: var(--purple-50);
    border-color: var(--purple-400);
  }

  &--success {
    background-color: var(--green-50);
    border-color: var(--green-600);
  }

  &--warning {
    background-color: var(--yellow-50);
    border-color: var(--yellow-800);
  }

  &--error {
    background-color: var(--red-50);
    border-color:  var(--red-800);
  }

  &__content {
    @include mixin.flexbox;
  }

  &__text {
    flex: 1;
  }
}