@use "../helpers/mixin";

.avatar {
  $this: &;

  @include mixin.flexbox;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  position: relative;
  text-transform: capitalize;
  font: var(--font-weight-400) var(--font-size-32)/1 var(--font-family-primary);
  border-radius: var(--border-radius-percent-100);
  cursor: pointer;


  &--xxlarge {
    width: 115px;
    min-width: 115px;
    height: 115px;
    font-size: var(--font-size-32);
  }
  &--xlarge {
    width: var(--size-80);
    min-width: var(--size-80);
    height: var(--size-80);
    font-size: var(--font-size-32);
  }
  &--large {
    width: var(--size-56);
    min-width: var(--size-56);
    height: var(--size-56);
    font-size: var(--font-size-20);
  }
  &--medium {
    width: var(--size-40);
    min-width: var(--size-40);
    height: var(--size-40);
    font-size: var(--font-size-16);
  }
  &--small {
    width: var(--size-32);
    min-width: var(--size-32);
    height: var(--size-32);
    font-size: var(--font-size-12);
  }
  &--xsmall {
    width: var(--size-24);
    min-width: var(--size-24);
    height: var(--size-24);
    font-size: var(--font-size-10);
  }
  &--xxsmall {
    width: var(--size-16);
    min-width: var(--size-16);
    height: var(--size-16);
    font-size: var(--font-size-6);
  }

  &--xsmall, &--xxsmall {
    font-weight: var(--font-weight-500);
  }

  &--default {
    background-color: var(--color-avatar-default-bg);
    color: var(--color-avatar-default-text);

    &:hover {
      background-color: var(--color-avatar-default-bg-hover);
    }
  }

  &--purple {
    background-color: var(--color-avatar-purple-bg);
    color: var(--color-avatar-purple-text);

    &:hover {
      background-color: var(--color-avatar-purple-bg-hover);
    }
  }
  &--green {
    background-color: var(--color-avatar-green-bg);
    color: var(--color-avatar-green-text);

    &:hover {
      background-color: var(--color-avatar-green-bg-hover);
    }
  }
  &--blue {
    background-color: var(--color-avatar-blue-bg);
    color: var(--color-avatar-blue-text);

    &:hover {
      background-color: var(--color-avatar-blue-bg-hover);
    }
  }
  &--red {
    background-color: var(--color-avatar-red-bg);
    color: var(--color-avatar-red-text);

    &:hover {
      background-color: var(--color-avatar-red-bg-hover);
    }
  }

  &--count {
    background-color: var(--color-avatar-count-bg);
    color: var(--color-avatar-count-text);
    border: var(--border-size-2) solid var(--color-avatar-count-border);
    font-weight: var(--font-weight-700);

    &:hover {
      background-color: var(--color-avatar-count-bg-hover);
    }
  }

  & &--image {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(center);
    position: relative;
    width: 100%;
    height: 100%;
    transition: background-color .3s linear, color .3s linear;
    background: no-repeat center;
    background-size: cover;
    border-radius: 50%;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-percent-100);
      border: var(--border-size-1) solid var(--color-avatar-image-border);
      opacity: 0;
      transition: opacity .3s linear;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}

.avatar-group {
  $this: &;

  @include mixin.flexbox;
  width: fit-content;

  &--xlarge {
    #{$this}__item {
      margin-left: calc(var(--space-32)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-32)
    }
  }
  &--large {
    #{$this}__item {
      margin-left: calc(var(--space-20)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-20)
    }
  }
  &--medium {
    #{$this}__item {
      margin-left: calc(var(--space-16)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-16)
    }
  }
  &--small {
    #{$this}__item {
      margin-left: calc(var(--space-12)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-12)
    }
  }
  &--xsmall {
    #{$this}__item {
      margin-left: calc(var(--space-8)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-8)
    }
  }
  &--xxsmall {
    #{$this}__item {
      margin-left: calc(var(--space-6)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-6)
    }
  }

  &__item {
    &:first-child {
      margin-left: 0;
    }
    .avatar {
      border: 2px solid var(--color-avatar-group-item-border);
    }
  }

  &__add {
    border: var(--border-size-1) dashed var(--color-avatar-group-add-border);
    background-color: var(--color-avatar-group-add-bg);

    &:hover {
      background-color: var(--color-avatar-group-add-bg-hover);
    }
  }
}

[data-theme="dark"] {
  .avatar {
    &--default {
      color: var(--color-avatar-dark-default-text);
    }
  }
}
