@use "../helpers/mixin";

.avatar {
  $this: &;

  @include mixin.flexbox;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  position: relative;
  text-transform: capitalize;
  font: var(--font-weight-400) var(--font-size-32)/1 var(--font-family-primary);
  border-radius: var(--border-radius-percent-100);
  cursor: pointer;
  transition: background-color .3s linear, color .3s linear;
  background: no-repeat center;
  background-size: cover;

  &--xxlarge {
    width: 115px;
    min-width: 115px;
    height: 115px;
    font-size: var(--font-size-32);
  }
  &--xlarge {
    width: var(--size-80);
    min-width: var(--size-80);
    height: var(--size-80);
    font-size: var(--font-size-32);
  }
  &--large {
    width: var(--size-56);
    min-width: var(--size-56);
    height: var(--size-56);
    font-size: var(--font-size-20);
  }
  &--medium {
    width: var(--size-40);
    min-width: var(--size-40);
    height: var(--size-40);
    font-size: var(--font-size-16);
  }
  &--small {
    width: var(--size-32);
    min-width: var(--size-32);
    height: var(--size-32);
    font-size: var(--font-size-12);
  }
  &--xsmall {
    width: var(--size-24);
    min-width: var(--size-24);
    height: var(--size-24);
    font-size: var(--font-size-10);
  }
  &--xxsmall {
    width: var(--size-16);
    min-width: var(--size-16);
    height: var(--size-16);
    font-size: var(--font-size-6);
  }

  &--xsmall, &--xxsmall {
    font-weight: var(--font-weight-500);
  }

  &--default {
    background-color: var(--yellow-200);
    color: var(--yellow-900);

    &:hover {
      background-color: var(--yellow-100);
    }
  }

  &--purple {
    background-color: var(--purple-100);
    color: var(--purple-500);

    &:hover {
      background-color: var(--purple-50);
    }
  }
  &--green {
    background-color: var(--green-100);
    color: var(--green-700);

    &:hover {
      background-color: var(--green-50);
    }
  }
  &--blue {
    background-color: var(--blue-100);
    color: var(--blue-700);

    &:hover {
      background-color: var(--blue-50);
    }
  }
  &--red {
    background-color: var(--red-100);
    color: var(--red-800);

    &:hover {
      background-color: var(--red-50);
    }
  }

  &--count {
    background-color: var(--green-50);
    color: var(--brand-700);
    border: var(--border-size-2) solid var(--white);
    font-weight: var(--font-weight-700);

    &:hover {
      background-color: var(--green-100);
    }
  }

  &--image {
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-percent-100);
      border: var(--border-size-1) solid var(--grey-200);
      opacity: 0;
      transition: opacity .3s linear;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}

.avatar-group {
  $this: &;

  @include mixin.flexbox;
  width: fit-content;

  &--xlarge {
    #{$this}__item {
      margin-left: calc(var(--space-32)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-32)
    }
  }
  &--large {
    #{$this}__item {
      margin-left: calc(var(--space-20)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-20)
    }
  }
  &--medium {
    #{$this}__item {
      margin-left: calc(var(--space-16)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-16)
    }
  }
  &--small {
    #{$this}__item {
      margin-left: calc(var(--space-12)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-12)
    }
  }
  &--xsmall {
    #{$this}__item {
      margin-left: calc(var(--space-8)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-8)
    }
  }
  &--xxsmall {
    #{$this}__item {
      margin-left: calc(var(--space-6)*-1);
    }

    #{$this}__add {
      margin-left: var(--space-6)
    }
  }

  &__item {
    &:first-child {
      margin-left: 0;
    }
  }

  &__add {
    border: var(--border-size-1) dashed var(--grey-200);
    background-color: var(--white);

    &:hover {
      background-color: var(--grey-30);
    }
  }
}