@use "../helpers/mixin";

.badge {
  $this: &;

  @include mixin.inline-flex;
  @include mixin.align-items(center);
  border-radius: var(--ds-border-radius-4xl);

  &__inner {
    font: var(--ds-font-weight-default) var(--ds-paragraph-xs)/0.8 var(--ds-font-family);
  }

  &--primary {
    background-color: var(--pink-500);
  }

  &--secondary {
    background-color: var(--grey-50);
  }

  &--tertiary {
    background-color: var(--green-500);
  }

  &--large {
    padding: var(--ds-space-6);

    #{$this}__inner {
      padding: 0 var(--ds-space-2);
    }
  }

  &--small {
    padding: var(--ds-space-4);

    #{$this}__inner {
      padding: 0 var(--ds-space-4);
    }
  }
}