@use "../helpers/mixin";

.badge-v2 {
  $this: &;
  $this__inner: #{$this}__inner;
  @include mixin.inline-flex;
  @include mixin.align-items(center);
  border-radius: var(--ds-border-radius-4xl);
  gap: var(--ds-size-2);

  &__inner {
    font: var(--ds-font-weight-default) var(--ds-paragraph-xs)/0.8 var(--ds-font-family)
  }

  &--filled {
    color: var(--grey-0);

    & > #{$this__inner} {
      color: var(--grey-0);
    }

    &#{$this}--gray {
      background-color: var(--grey-400);
    }

    &#{$this}--blue {
      background-color: var(--blue-800);
    }

    &#{$this}--orange {
      background-color: var(--yellow-800);
    }

    &#{$this}--red {
      background-color: var(--red-500);
    }

    &#{$this}--green {
      background-color: var(--brand-500);
    }

    &#{$this}--yellow {
      background-color: var(--yellow-500);
    }

    &#{$this}--purple {
      background-color: var(--purple-400);
    }

    &#{$this}--sky {
      background-color: var(--blue-500);
    }

    &#{$this}--pink {
      background-color: var(--pink-200);
    }

    &#{$this}--teal {
      background-color: var(--green-500);
    }

    &#{$this}--with-dot {
      background: var(--grey-0);
    }
  }

  &--light {
    color: var(--grey-800);

    & > #{$this__inner} {
      color: var(--grey-800);
    }

    &#{$this}--gray {
      background-color: var(--grey-200);

      #{$this}--with-dot {
        background-color: var(--grey-800);
      }
    }

    &#{$this}--blue {
      background-color: var(--blue-100);

      #{$this}--with-dot {
        background-color: var(--grey-800);
      }
    }

    &#{$this}--orange {
      background-color: var(--yellow-400);

      #{$this}--with-dot {
        background-color: var(--grey-800);
      }
    }

    &#{$this}--red {
      background-color: var(--red-200);

      & > #{$this__inner} {
        color: var(--red-900);
      }

      #{$this}--with-dot {
        background-color: var(--red-900);
      }
    }

    &#{$this}--green {
      background-color: var(--brand-20);

      & > #{$this__inner} {
        color: var(--brand-800);
      }

      #{$this}--with-dot {
        background-color: var(--brand-800);
      }
    }

    &#{$this}--yellow {
      background-color: var(--yellow-100);

      & > #{$this__inner} {
        color: var(--yellow-900);
      }

      #{$this}--with-dot {
        background-color: var(--yellow-900);
      }
    }

    &#{$this}--purple {
      background-color: var(--purple-100);

      & > #{$this__inner} {
        color: var(--purple-900);
      }

      #{$this}--with-dot {
        background-color: var(--purple-900);
      }
    }

    &#{$this}--sky {
      background-color: var(--blue-100);

      & > #{$this__inner} {
        color: var(--blue-900);
      }

      #{$this}--with-dot {
        background-color: var(--blue-900);
      }
    }

    &#{$this}--pink {
      background-color: var(--pink-100);

      & > #{$this__inner} {
        color: var(--pink-900);
      }

      #{$this}--with-dot {
        background-color: var(--pink-900);
      }
    }

    &#{$this}--teal {
      background-color: var(--green-100);

      & > #{$this__inner} {
        color: var(--green-900);
      }

      #{$this}--with-dot {
        background-color: var(--green-900);
      }
    }
  }

  &--lighter {
    color: var(--grey-400);

    & > &#{$this__inner} {
      color: var(--grey-400);
    }

    &#{$this}--gray {
      background-color: var(--grey-100);

      #{$this}--with-dot {
        background-color: var(--grey-400);
      }
    }

    &#{$this}--blue {
      background-color: var(--blue-50);

      & > #{$this__inner} {
        color: var(--blue-800);
      }

      #{$this}--with-dot {
        background-color: var(--blue-800);
      }
    }

    &#{$this}--orange {
      background-color: var(--yellow-50);

      & > #{$this__inner} {
        color: var(--yellow-800);
      }

      #{$this}--with-dot {
        background-color: var(--yellow-800);
      }
    }

    &#{$this}--red {
      background-color: var(--red-20);

      & > #{$this__inner} {
        color: var(--red-500);
      }

      #{$this}--with-dot {
        background-color: var(--red-500);
      }
    }

    &#{$this}--green {
      background-color: var(--green-50);

      & > #{$this__inner} {
        color: var(--brand-600);
      }

      #{$this}--with-dot {
        background-color: var(--brand-600);
      }
    }

    &#{$this}--yellow {
      background-color: var(--yellow-50);

      & > #{$this__inner} {
        color: var(--yellow-600);
      }

      #{$this}--with-dot {
        background-color: var(--yellow-600);
      }
    }

    &#{$this}--purple {
      background-color: var(--purple-50);

      & > #{$this__inner} {
        color: var(--purple-400);
      }

      #{$this}--with-dot {
        background-color: var(--purple-400);
      }
    }

    &#{$this}--sky {
      background-color: var(--blue-50);

      & > #{$this__inner} {
        color: var(--blue-500);
      }

      #{$this}--with-dot {
        background-color: var(--blue-500);
      }
    }

    &#{$this}--pink {
      background-color: var(--pink-50);

      & > #{$this__inner} {
        color: var(--pink-300);
      }

      #{$this}--with-dot {
        background-color: var(--pink-300);
      }
    }

    &#{$this}--teal {
      background-color: var(--green-50);

      & > #{$this__inner} {
        color: var(--green-500);
      }

      #{$this}--with-dot {
        background-color: var(--green-500);
      }
    }
  }

  &--stroke {
    color: var(--grey-400);
    border: 1px solid var(--grey-400);
    background-color: var(--grey-0);

    & > &#{$this__inner} {
      color: var(--grey-400);
    }

    &#{$this}--gray {
      background-color: var(--grey-0);

      #{$this}--with-dot {
        background-color: var(--grey-400);
      }
    }

    &#{$this}--blue {
      border-color: var(--blue-600);

      & > #{$this__inner} {
        color: var(--blue-800);
      }

      #{$this}--with-dot {
        background-color: var(--blue-800);
      }
    }

    &#{$this}--orange {
      border-color: var(--yellow-800);

      & > #{$this__inner} {
        color: var(--yellow-800);
      }

      #{$this}--with-dot {
        background-color: var(--yellow-800);
      }
    }

    &#{$this}--red {
      border-color: var(--red-500);

      & > #{$this__inner} {
        color: var(--red-500);
      }

      #{$this}--with-dot {
        background-color: var(--red-500);
      }
    }

    &#{$this}--green {
      border-color: var(--brand-500);

      & > #{$this__inner} {
        color: var(--brand-500);
      }

      #{$this}--with-dot {
        background-color: var(--brand-500);
      }
    }

    &#{$this}--yellow {
      border-color: var(--yellow-500);

      & > #{$this__inner} {
        color: var(--yellow-500);
      }

      #{$this}--with-dot {
        background-color: var(--yellow-500);
      }
    }

    &#{$this}--purple {
      border-color: var(--purple-400);

      & > #{$this__inner} {
        color: var(--purple-400);
      }

      #{$this}--with-dot {
        background-color: var(--purple-400);
      }
    }

    &#{$this}--sky {
      border-color: var(--blue-50);

      & > #{$this__inner} {
        color: var(--blue-500);
      }

      #{$this}--with-dot {
        background-color: var(--blue-500);
      }
    }

    &#{$this}--pink {
      border-color: var(--pink-200);

      & > #{$this__inner} {
        color: var(--pink-200);
      }

      #{$this}--with-dot {
        background-color: var(--pink-200);
      }
    }

    &#{$this}--teal {
      border-color: var(--green-500);

      & > #{$this__inner} {
        color: var(--green-500);
      }

      #{$this}--with-dot {
        background-color: var(--green-500);
      }
    }
  }

  &--large {
    height: var(--ds-size-20);
    padding: var(--ds-size-2) var(--ds-size-8);;

    #{$this}__inner {
      padding: 0 var(--ds-space-2);
    }

    &#{$this}--dot {
      width: var(--ds-size-12);
      height: var(--ds-size-12);
    }

    &#{$this}--with-dot {
      width: var(--ds-size-6);
      height: var(--ds-size-6);
    }
  }

  &--small {
    height: var(--ds-size-16);
    padding: var(--ds-size-2) var(--ds-size-8);

    #{$this}__inner {
      padding: 0 var(--ds-space-4);
    }

    &#{$this}--dot {
      width: var(--ds-size-8);
      height: var(--ds-size-8);
    }

    &#{$this}--with-dot {
      width: var(--ds-size-6);
      height: var(--ds-size-6);
    }
  }

  &--dot {
    border-radius: 50%;
    padding: 0;
  }

  &#{$this}--disabled {
    border: 1px solid var(--grey-200);
    background-color: var(--grey-0);

    & > #{$this__inner} {
      color: var(--grey-200);
    }

    &#{$this}--with-dot {
      background-color: var(--grey-300);
    }
  }
}