@use "../helpers/mixin";

.badge {
  $this: &;

  @include mixin.inline-flex;
  @include mixin.align-items(center);
  border-radius: var(--border-radius-40);

  &__inner {
    font: var(--font-weight-400) var(--font-size-10)/0.8 var(--font-family-primary);
  }

  &--primary {
    background-color: var(--pink-500);
  }

  &--secondary {
    background-color: var(--grey-50);
  }

  &--tertiary {
    background-color: var(--green-500);
  }

  &--large {
    padding: var(--space-6);

    #{$this}__inner {
      padding: 0 var(--space-2);
    }
  }

  &--small {
    padding: var(--space-4);

    #{$this}__inner {
      padding: 0 var(--space-4);
    }
  }
}