.breadcrumb {
    $this: &;

    position: relative;
    font: var(--font-weight-400) var(--font-size-14) var(--font-family-primary);

    &__item {
        &:after {
            content: '/';
            padding: 0 6px;
            color: var(--grey-500)
        }

        &:last-child {
            &:after {
                content: none;
            }
        }

        &__inner {
            color: var(--grey-500);
            transition: color 0.3s linear;

            &:hover {
                cursor: pointer;
                color: var(--grey-800);
            }

            &.selected {
                cursor: default;
                color: var(--grey-900);
            }
        }
    }
}
