@use "../helpers/mixin";

.btn-icon {
  $this: &;

  //----------- component specific tokens -------------//

  --ds-button-icon-size-lg: var(--size-40);
  --ds-button-icon-size-md: var(--size-32);
  --ds-button-icon-size-sm: var(--size-24);

  --ds-button-icon-bg: transparent;
  --ds-button-icon-bg-hover: var(--grey-40);
  --ds-button-icon-bg-disabled: transparent;
  --ds-button-icon-bg-pressed: var(--grey-100);
  --ds-button-icon-bg-focused: var(--grey-40);

  --ds-button-icon-border-radius-lg: var(--border-radius-10);
  --ds-button-icon-border-radius-md: var(--border-radius-8);
  --ds-button-icon-border-radius-sm: var(--border-radius-6);

  --ds-button-icon-shadow-focused: var(--shadow-brand-1);
  --ds-button-icon-transition: background-color .3s linear, color .3s linear, border-color .3s linear;

  //----------//

  @include mixin.flexbox;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: var(--ds-button-icon-bg);

  &:not(&[disabled]) {
    &:hover {
      background-color: var(--ds-button-icon-bg-hover);
    }

    &:active {
      background-color: var(--ds-button-icon-bg-pressed);
    }

    &:focus {
      box-shadow: var(--ds-button-icon-shadow-focused);
      background-color: var(--ds-button-icon-bg-focused);
    }
  }

  &[disabled] {
    cursor: default;
    background-color: var(--ds-button-icon-bg-disabled);
  }

  &--large {
    height: var(--ds-button-icon-size-lg);
    width: var(--ds-button-icon-size-lg);
    border-radius: var(--ds-button-icon-border-radius-lg);
  }

  &--medium {
    height: var(--ds-button-icon-size-md);
    width: var(--ds-button-icon-size-md);
    border-radius: var(--ds-button-icon-border-radius-md);
  }

  &--small {
    height: var(--ds-button-icon-size-sm);
    width: var(--ds-button-icon-size-sm);
    border-radius: var(--ds-button-icon-border-radius-sm);
  }
}
