@use "../helpers/mixin";

.btn {
  $this: &;
  background-color: var(--color-action-base-bg);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-xs);
  //transition: var(--ds-button-transition);

  &[disabled] {
    cursor: default;
  }

  &--large {
    height: var(--size-40);
    padding: 0 var(--space-16);
    font-size: var(--font-size-14);
    border-radius: var(--border-radius-10);
  }

  &--medium {
    height: var(--size-32);
    padding: 0 var(--space-12);
    font-size: var(--font-size-14);
    border-radius: var(--border-radius-8);
  }

  &--small {
    height: var(--size-24);
    padding: 0 var(--space-12);
    font-size: var(--font-size-12);
    border-radius: var(--border-radius-6);
  }

  &--primary {
    background-color: var(--color-action-primary-bg);
    color: var(--color-action-primary-text);

    &.pressed {
      background-color: var(--color-action-primary-bg-active);
    }
    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--color-action-primary-bg-hover);
      }

      &:active {
        background-color: var(--color-action-primary-bg-active);
      }

      &[disabled] {
        background-color: var(--color-action-disabled-bg);
        color: var(--color-action-disabled-text);

        #{$this}__icon {
          color: var(--color-action-disabled-text);
        }
        svg path {
          fill: var(--color-action-disabled-text);
        }
      }
    }

    #{$this}__icon {
      color: var(--color-action-primary-text);
    }
  }

  &--secondary {
    background-color: var(--color-action-secondary-bg);
    color: var(--color-action-secondary-text);
    border: var(--border-size-1) solid var(--color-action-secondary-border);
    &.pressed {
      background-color: var(--color-action-secondary-bg-active);
    }

    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--color-action-secondary-bg-hover);
        border-color: var(--color-action-secondary-border-hover);
      }

      &:active {
        background-color: var(--color-action-secondary-bg-active);
      }

      &[disabled] {
        background-color: var(--color-action-secondary-bg);
        color: var(--color-action-disabled-text);
        border-color: var(--color-action-secondary-border);

        #{$this}__icon {
          color: var(--color-action-disabled-text);
        }

        svg path {
          fill: var(--color-action-disabled-text);
        }

      }
    }

    #{$this}__icon {
      color: var(--color-action-secondary-text);
    }
  }

  &--tertiary {
    background-color: transparent;
    color: var(--color-action-tertiary-text);
    &.pressed {
      background-color: var(--color-action-tertiary-bg-active);
    }
    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--color-action-tertiary-bg-hover);
      }

      &:active {
        background-color: var(--color-action-tertiary-bg-active);
      }

      &[disabled] {
        background-color: var(--color-action-secondary-bg);
        color: var(--color-action-disabled-text);

        #{$this}__icon {
          color: var(--color-action-disabled-text);
        }

        svg path {
          fill: var(--color-action-disabled-text);
        }
      }
    }

    #{$this}__icon {
      color: var(--color-action-tertiary-text);
    }
  }

  &--danger {
    background-color: var(--color-action-danger-bg);
    color: var(--color-action-danger-text);
    &.pressed {
      background-color: var(--color-action-danger-bg);
    }
    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--color-action-danger-bg-hover);
      }

      &:active {
        background-color: var(--color-action-danger-bg);
      }

      &[disabled] {
        background-color: var(--color-action-disabled-bg);
        color: var(--color-action-disabled-text);

        #{$this}__icon {
          color: var(--color-action-disabled-text);
        }

        svg path {
          fill: var(--color-action-disabled-text);
        }
      }
    }

    #{$this}__icon {
      color: var(--color-action-danger-text);
    }
  }

  &--text {
    padding: 0;
    width: auto;
    background: none;
    color: var(--color-action-text-fg);

    &:not(#{$this}--loading) {
      &:hover {
        color: var(--color-action-text-fg-hover);

        #{$this}__icon {
          color: var(--color-action-text-fg-hover);
        }

        svg path {
          fill: var(--color-action-text-fg-hover);
        }
      }

      &:active {
        color: var(--color-action-text-fg-active);

        #{$this}__icon {
          color: var(--color-action-text-fg-active);
        }

        svg path {
          fill: var(--color-action-text-fg-active);
        }
      }


      &[disabled] {
        color: var(--color-action-disabled-text);

        #{$this}__icon {
          color: var(--color-action-disabled-text);
        }

        svg path {
          fill: var(--color-action-disabled-text);
        }
      }
    }

    #{$this}__icon {
      color: var(--color-action-text-fg);
    }
  }

  &--link {
    padding: 0;
    width: auto;
    height: auto;
    background: none;
    color: var(--color-action-link-fg);

    &:not(#{$this}--loading) {
      &:hover {
        color: var(--color-action-link-fg-hover);

        #{$this}__icon {
          color: var(--color-action-link-fg-hover);
        }

        svg path {
          fill: var(--color-action-link-fg-hover);
        }
      }

      &:active {
        color: var(--color-action-link-fg-active);

        #{$this}__icon {
          color: var(--color-action-link-fg-active);
        }

        svg path {
          fill: var(--color-action-link-fg-active);
        }
      }

      &[disabled] {
        color: var(--color-action-disabled-text);

        #{$this}__icon {
          color: var(--color-action-disabled-text);
        }

        svg path {
          fill: var(--color-action-disabled-text);
        }
      }
    }

    #{$this}__icon {
      color: var(--color-action-link-fg);
    }
  }


  &--icon-left {
    #{$this}__icon {
      margin-left: -3px;
    }

    &#{$this}--large {
      #{$this}__icon {
        margin-right: var(--space-8);
      }
    }

    &#{$this}--medium {
      #{$this}__icon {
        margin-right: var(--space-8);
      }
    }

    &#{$this}--small {
      #{$this}__icon {
        margin-right: var(--space-4);
      }
    }
  }

  &--icon-right {
    #{$this}__icon {
      order: 1;
      margin-right: -3px;
    }

    &#{$this}--large {
      #{$this}__icon {
        margin-left: var(--space-8);
      }
    }

    &#{$this}--medium {
      #{$this}__icon {
        margin-left: var(--space-8);
      }
    }

    &#{$this}--small {
      #{$this}__icon {
        margin-left: var(--space-4);
      }
    }
  }

  &--icon {
    padding: 0;

    &#{$this}--large {
      width: var(--size-40);
      min-width: var(--size-40);
    }

    &#{$this}--medium {
      width: var(--size-32);
      min-width: var(--size-32);
    }

    &#{$this}--small {
      width: var(--size-24);
      min-width: var(--size-24);
    }
  }
}

[data-theme="dark"] {
  .btn {
    $this: &;

    &--primary {
      color: var(--color-action-primary-text);
      font-weight: 700;

      svg path:not([fill]), svg circle:not([fill]), svg line:not([fill]) {
        fill: var(--color-action-primary-text);
      }
      &:not(#{$this}--loading) {
        &[disabled] {
          background-color: var(--color-action-primary-disabled-bg);
          border-color: var(--color-action-primary-disabled-border);
          color: var(--color-action-primary-disabled-text);

          svg path {
            fill: var(--color-action-primary-disabled-text);
          }
        }
      }
    }
    &--secondary {
      background-color: color-mix(in srgb, var(--color-action-secondary-surface) 80%, transparent);
      border-color: var(--color-action-secondary-border);
      color: var(--color-action-secondary-text);

      svg path:not([fill]), svg circle:not([fill]), svg line:not([fill]) {
        fill: var(--color-action-secondary-icon);
      }
      &.pressed {
        background-color: var(--color-action-secondary-bg-pressed);
      }
      &:not(#{$this}--loading) {
        &:hover {
          background-color: var(--color-action-secondary-bg-hover);
          border-color: var(--color-action-secondary-border-hover);
        }

        &:active {
          background-color: var(--color-action-secondary-bg-pressed);
        }
        &[disabled] {
          background-color: var(--color-action-secondary-bg-disabled);
          border-color: var(--color-action-secondary-border-disabled);
          color: var(--color-action-secondary-text-disabled);

          svg path {
            fill: var(--color-action-secondary-text-disabled);
          }
        }
      }
    }
    &--tertiary {
      &:not(.btn--loading) {
        &:hover {
          background-color: var(--color-action-tertiary-bg-hover);
        }
        &[disabled] {
          background-color: var(--color-action-secondary-bg);
          color: var(--color-action-tertiary-text-disabled);

          svg path:not([fill]), svg circle:not([fill]), svg line:not([fill]) {
            fill: var(--color-action-tertiary-text-disabled);
          }
        }
      }
    }
    &--danger {
      color: var(--color-action-danger-text);

      &:not(.btn--loading) {
        &[disabled] {
          opacity: 0.2;
        }
      }

      svg path:not([fill]), svg circle:not([fill]), svg line:not([fill]) {
        fill: var(--color-action-danger-text);
      }
    }
    &--text {
      color: var(--color-action-text-fg);
      &:hover {
        color: var(--color-action-text-fg-hover);
        svg path {
          fill: var(--color-action-text-fg-hover);
        }
      }
    }
  }
}
