@use "../helpers/mixin";

.btn {
  $this: &;
  background-color: var(--brand-300);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
  font-family: var(--ds-font-family);
  font-weight: var(--ds-font-weight-default);
  line-height: var(--ds-line-height-default);
  //transition: var(--ds-button-transition);

  &[disabled] {
    cursor: default;
  }

  &--large {
    height: var(--size-40);
    padding: 0 var(--space-16);
    font-size: var(--ds-paragraph-std);
    border-radius: var(--border-radius-10);
  }

  &--medium {
    height: var(--size-32);
    padding: 0 var(--space-12);
    font-size: var(--ds-paragraph-std);
    border-radius: var(--border-radius-8);
  }

  &--small {
    height: var(--size-24);
    padding: 0 var(--space-12);
    font-size: var(--ds-paragraph-sm);
    border-radius: var(--border-radius-6);
  }

  &--primary {
    background-color: var(--brand-500);
    color: var(--white);

    &.pressed {
      background-color: var(--brand-600);
    }
    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--brand-300);
      }

      &:active {
        background-color: var(--brand-600);
      }

      &[disabled] {
        background-color: var(--grey-50);
        color: var(--grey-400);

        #{$this}__icon {
          color: var(--grey-400);
        }
        svg path {
          fill: var(--grey-400);
        }
      }
    }

    #{$this}__icon {
      color: var(--white);
    }
  }

  &--secondary {
    background-color: var(--white);
    color: var(--grey-800);
    border: var(--border-size-1) solid var(--grey-300);
    &.pressed {
      background-color: var(--grey-200);
    }
    
    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--grey-50);
        border-color: var(--white);
      }

      &:active {
        background-color: var(--grey-200);
      }

      &[disabled] {
        background-color: var(--white);
        color: var(--grey-400);
        border-color: var(--grey-300);

        #{$this}__icon {
          color: var(--grey-400);
        }

        svg path {
          fill: var(--grey-400);
        }

      }
    }

    #{$this}__icon {
      color: var(--grey-800);
    }
  }

  &--tertiary {
    background-color: transparent;
    color: var(--grey-500);
    &.pressed {
      background-color: var(--grey-40);
    }
    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--grey-30);
      }

      &:active {
        background-color: var(--grey-40);
      }

      &[disabled] {
        background-color: var(--white);
        color: var(--grey-400);

        #{$this}__icon {
          color: var(--grey-400);
        }

        svg path {
          fill: var(--grey-400);
        }
      }
    }

    #{$this}__icon {
      color: var(--grey-500);
    }
  }

  &--danger {
    background-color: var(--red-600);
    color: var(--white);
    &.pressed {
      background-color: var(--red-600);
    }
    &:not(#{$this}--loading) {
      &:hover {
        background-color: var(--red-500);
      }

      &:active {
        background-color: var(--red-600);
      }

      &[disabled] {
        background-color: var(--grey-50);
        color: var(--grey-400);

        #{$this}__icon {
          color: var(--grey-400);
        }

        svg path {
          fill: var(--grey-400);
        }
      }
    }

    #{$this}__icon {
      color: var(--white);
    }
  }

  &--text {
    padding: 0;
    width: auto;
    background: none;
    color: var(--blue-700);

    &:not(#{$this}--loading) {
      &:hover {
        color: var(--blue-600);

        #{$this}__icon {
          color: var(--blue-600);
        }

        svg path {
          fill: var(--blue-600);
        }
      }

      &:active {
        color: var(--blue-800);

        #{$this}__icon {
          color: var(--blue-800);
        }

        svg path {
          fill: var(--blue-800);
        }
      }


      &[disabled] {
        color: var(--grey-400);

        #{$this}__icon {
          color: var(--grey-400);
        }

        svg path {
          fill: var(--grey-400);
        }
      }
    }

    #{$this}__icon {
      color: var(--blue-700);
    }
  }

  &--link {
    padding: 0;
    width: auto;
    height: auto;
    background: none;
    color: var(--brand-500);

    &:not(#{$this}--loading) {
      &:hover {
        color: var(--brand-300);

        #{$this}__icon {
          color: var(--brand-300);
        }

        svg path {
          fill: var(--brand-300);
        }
      }

      &:active {
        color: var(--brand-600);

        #{$this}__icon {
          color: var(--brand-600);
        }

        svg path {
          fill: var(--brand-600);
        }
      }

      &[disabled] {
        color: var(--grey-400);

        #{$this}__icon {
          color: var(--grey-400);
        }

        svg path {
          fill: var(--grey-400);
        }
      }
    }

    #{$this}__icon {
      color: var(--brand-500);
    }
  }


  &--icon-left {
    #{$this}__icon {
      margin-left: -3px;
    }

    &#{$this}--large {
      #{$this}__icon {
        margin-right: var(--space-8);
      }
    }

    &#{$this}--medium {
      #{$this}__icon {
        margin-right: var(--space-8);
      }
    }

    &#{$this}--small {
      #{$this}__icon {
        margin-right: var(--space-4);
      }
    }
  }

  &--icon-right {
    #{$this}__icon {
      order: 1;
      margin-right: -3px;
    }

    &#{$this}--large {
      #{$this}__icon {
        margin-left: var(--space-8);
      }
    }

    &#{$this}--medium {
      #{$this}__icon {
        margin-left: var(--space-8);
      }
    }

    &#{$this}--small {
      #{$this}__icon {
        margin-left: var(--space-4);
      }
    }
  }

  &--icon {
    padding: 0;

    &#{$this}--large {
      width: var(--size-40);
      min-width: var(--size-40);
    }

    &#{$this}--medium {
      width: var(--size-32);
      min-width: var(--size-32);
    }

    &#{$this}--small {
      width: var(--size-24);
      min-width: var(--size-24);
    }
  }
}