.button-group-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: var(--size-8);

  &__primary {
    border: 1px solid var(--grey-200);
    background-color: var(--white);

    &:hover {
      background: var(--grey-50);
      color: var(--grey-600);
      cursor: pointer;
    }

    &.active {
      background: var(--grey-50);
    }

    &.disabled {
      background: var(--grey-50);
      color: var(--grey-300);
      cursor: not-allowed;

      > * {
        color: var(--grey-300);
      }
    }
  }

  &__small {
    height: var(--size-24);
    padding: var(--size-6) var(--size-12);
  }

  &__medium {
    height: var(--size-32);
    padding: var(--size-6) 14px;
  }

  &__large {
    height: var(--size-40);
    padding: 0 var(--size-16);
  }
}

.button-group {
  display: flex;
  align-items: flex-start;
  border-radius: var(--size-8);
  width: max-content;

  &-item {
    &:first-child {
      border-top-left-radius: var(--size-8);
      border-bottom-left-radius: var(--size-8);
    }

    &:last-child {
      border-top-right-radius: var(--size-8);
      border-bottom-right-radius: var(--size-8);
    }
  }
}

