.card {
  $this: &;

  border: 1px solid var(--color-card-border);
  border-radius: var(--size-8);
  display: flex;
  position: relative;

  &--noBorder {
    border: none;
  }

  &--title--alignment {
    &__body {
      border: 1px solid var(--color-card-title-alignment-body-border);
    }

    &--left {
      flex-direction: row;

      .card__body {
        border-top-right-radius: var(--size-8);
        border-bottom-right-radius: var(--size-8);
      }

      .card__title {
        writing-mode: sideways-lr;
        border-top-left-radius: var(--size-8);
        border-bottom-left-radius: var(--size-8);
      }
    }

    &--right {
      flex-direction: row-reverse;

      .card__body {
        border-top-left-radius: var(--size-8);
        border-bottom-left-radius: var(--size-8);
      }

      .card__title {
        writing-mode: sideways-rl;
        border-top-right-radius: var(--size-8);
        border-bottom-right-radius: var(--size-8);
      }
    }

    &--top {
      flex-direction: column;

      .card__body {
        border-bottom-left-radius: var(--size-8);
        border-bottom-right-radius: var(--size-8);
      }

      .card__title {
        border-top-left-radius: var(--size-8);
        border-top-right-radius: var(--size-8);
      }
    }

    &--bottom {
      flex-direction: column-reverse;

      .card__body {
        border-top-right-radius: var(--size-8);
        border-top-left-radius: var(--size-8);
      }

      .card__title {
        border-bottom-left-radius: var(--size-8);
        border-bottom-right-radius: var(--size-8);
      }
    }
  }

  &__title {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-700);
    text-transform: capitalize;
    text-align: center;
    line-height: 16px;

    &--blue {
      color: var(--color-card-title-blue-text);
      background-color: var(--color-card-title-blue-bg);
      border: 1px solid var(--color-card-title-blue-border);
    }

    &--purple {
      color: var(--color-card-title-purple-text);
      background-color: var(--color-card-title-purple-bg);
      border: 1px solid var(--color-card-title-purple-border);
    }

    &--yellow {
      color: var(--color-card-title-yellow-text);
      background-color: var(--color-card-title-yellow-bg);
      border: 1px solid var(--color-card-title-yellow-border);
    }

    &--pink {
      color: var(--color-card-title-pink-text);
      background-color: var(--color-card-title-pink-bg);
      border: 1px solid var(--color-card-title-pink-border);
    }

    &--green {
      color: var(--color-card-title-green-text);
      background-color: var(--color-card-title-green-bg);
      border: 1px solid var(--color-card-title-green-border);
    }

    &--grey {
      color: var(--color-card-title-grey-text);
      background-color: var(--color-card-title-grey-bg);
      border: 1px solid var(--color-card-title-grey-border);
    }
  }

  &__content {
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 8px;

    &--header {
      display: flex;
      justify-content: space-between;
      flex: auto;
      min-height: 56px;
      align-items: center;


      &--expandable {
        cursor: pointer;
      }

      &--expand {
        align-content: center;

        &--icon {
          //background-color: var(--ds-button-tertiary-bg-pressed); // Todo check
        }
      }
    }

    &--footer {
      border-top: 1px solid var(--color-card-footer-border);
      background-color: var(--color-card-footer-bg);
    }

    .card__divider {
      background-color: var(--color-card-divider-bg);
    }
  }
}

[data-theme="dark"] {
  .card {
    background-color: var(--color-card-dark-bg);
    border-color: var(--color-card-dark-border);
    color: var(--color-card-dark-text);

    &__content--footer {
      background: none;
    }

    &__content {
      .card__divider {
        background-color: var(--color-card-dark-divider-bg);
      }
    }
  }
}
