.card--group {
    $this: &;

    border: 1px solid var(--color-cardgroup-border);
    border-radius: var(--size-8);
    display: flex;
    position: relative;

    &--title--alignment {
        &__body {
            border: 1px solid var(--color-cardgroup-title-alignment-body-border);
        }

        &--left .card--group__content--header {
            flex-direction: row;

            .card--group__body {
                border-top-right-radius: var(--size-8);
            }

            .card--group__title {
                writing-mode: sideways-lr;
                border-top-left-radius: var(--size-8);
            }
        }

        &--right .card--group__content--header {
            flex-direction: row-reverse;

            .card--group__body {
                border-top-left-radius: var(--size-8);
            }

            .card--group__title {
                writing-mode: sideways-rl;
                border-top-right-radius: var(--size-8);
            }
        }

        &--top .card--group__content--header {
            flex-direction: column;

            .card--group__body {
                border-bottom-left-radius: var(--size-8);
                border-bottom-right-radius: var(--size-8);
            }

            .card--group__title {
                border-top-left-radius: var(--size-8);
                border-top-right-radius: var(--size-8);
            }
        }
    }

    &__content {
        flex-grow: 1;
        flex: 1;
        display: flex;
        flex-direction: column;

        &--header {
            display: flex;
            position: relative;
            border-bottom: 1px solid var(--color-cardgroup-header-border);
            min-height: 56px;

            &--component {
                align-content: center;
                padding-left: var(--size-8);
                padding-right: var(--size-8);
            }

            .card--group__title {
                font-size: var(--font-size-12);
                font-weight: var(--font-weight-700);
                text-transform: capitalize;
                text-align: center;
                line-height: 16px;

                &--blue {
                    color: var(--color-cardgroup-title-blue-text);
                    background-color: var(--color-cardgroup-title-blue-bg);
                    border: 1px solid var(--color-cardgroup-title-blue-border);
                }

                &--purple {
                    color: var(--color-cardgroup-title-purple-text);
                    background-color: var(--color-cardgroup-title-purple-bg);
                    border: 1px solid var(--color-cardgroup-title-purple-border);
                }

                &--yellow {
                    color: var(--color-cardgroup-title-yellow-text);
                    background-color: var(--color-cardgroup-title-yellow-bg);
                    border: 1px solid var(--color-cardgroup-title-yellow-border);
                }

                &--pink {
                    color: var(--color-cardgroup-title-pink-text);
                    background-color: var(--color-cardgroup-title-pink-bg);
                    border: 1px solid var(--color-cardgroup-title-pink-border);
                }

                &--green {
                    color: var(--color-cardgroup-title-green-text);
                    background-color: var(--color-cardgroup-title-green-bg);
                    border: 1px solid var(--color-cardgroup-title-green-border);
                }

                &--grey {
                    color: var(--color-cardgroup-title-grey-text);
                    background-color: var(--color-cardgroup-title-grey-bg);
                    border: 1px solid var(--color-cardgroup-title-grey-border);
                }
            }
        }

        &--body {
            padding-left: var(--size-8);
            padding-right: var(--size-8);

            .card--group__child {
                border-bottom: 1px solid var(--color-cardgroup-child-border);

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
