@use "../helpers/mixin";

.controller {
  $this: &;

  //----------- component specific tokens -------------//

  --ds-controller-size: var(--size-16);

  --ds-controller-font: var(--ds-font-weight-default) var(--ds-paragraph-std)/var(--ds-line-height-caption) var(--ds-font-family);

  --ds-controller-bg-default-light: var(--white);
  --ds-controller-bg-default-dark: var(--grey-200);
  --ds-controller-bg-hover-light: var(--grey-30);
  --ds-controller-bg-hover-dark: var(--grey-300);
  --ds-controller-bg-pressed-light: var(--grey-40);
  --ds-controller-bg-pressed-dark: var(--grey-400);
  --ds-controller-bg-focused: var(--grey-50);
  --ds-controller-bg-disabled: var(--grey-50);

  --ds-controller-selected-bg-default: var(--brand-500);
  --ds-controller-selected-bg-hover: var(--brand-300);
  --ds-controller-selected-bg-pressed: var(--brand-600);
  --ds-controller-selected-bg-focused: var(--brand-700);
  --ds-controller-selected-bg-disabled: var(--grey-50);

  --ds-controller-mark-light: var(--white);
  --ds-controller-mark-dark: var(--grey-500);

  --ds-controller-border-color-focused: var(--grey-500);
  --ds-controller-border-color-disabled: var(--grey-50);

  --ds-controller-border: var(--border-size-1) solid;
  --ds-controller-border-radius-sm: var(--border-radius-2);
  --ds-controller-border-radius-lg: var(--border-radius-100);

  --ds-controller-label-padding: 0 0 0 var(--space-8);

  --ds-controller-icon-disabled: var(--grey-400);

  --ds-controller-helper-padding: var(--space-2) 0 0 var(--space-24);

  --ds-controller-transition: background-color .3s linear, border .3s linear;

  --ds-controller-error-bg-color: var(--red-600);
  --ds-controller-error-border-color: var(--red-800);
  --ds-controller-error-text-color: var(--red-600);

  --ds-radio-border-width: 6px;

  --ds-switch-size-sm: var(--size-20);
  --ds-switch-size-lg: var(--size-24);
  --ds-switch-icon-size-sm: var(--size-16);
  --ds-switch-icon-size-lg: var(--size-20);

  //----------//

  @include mixin.inline-flex;
  @include mixin.flex-wrap(wrap);
  @include mixin.align-items(flex-start);
  cursor: pointer;

  input[type="checkbox"],
  input[type="radio"] {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;

    & + #{$this}__icon {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      @include mixin.justify-content(center);
      position: relative;
      width: var(--ds-controller-size);
      min-width: var(--ds-controller-size);
      height: var(--ds-controller-size);
      background-color: var(--ds-controller-bg-default-light);
      border-radius: var(--ds-controller-border-radius-sm);
      border: var(--border-size-1) solid var(--grey-200);
      transition: var(--ds-controller-transition);
      margin-top: var(--space-2);

      &:hover {
        background-color: var(--ds-controller-bg-hover-light);
      }

      &:focus {
        background-color: var(--ds-controller-bg-focused);
        border-color: var(--ds-controller-border-color-focused);
      }

      &:active, &:visited {
        background-color: var(--ds-controller-bg-pressed-light);
      }

      #{$this}__mark {
        position: absolute;
        transition: opacity .3s linear;
      }
    }

    &:checked {
      & + #{$this}__icon {
        background-color: var(--ds-controller-selected-bg-default);
        border-color: var(--ds-controller-selected-bg-default);
        color: var(--ds-controller-mark-light);

        &:hover {
          background-color: var(--ds-controller-selected-bg-hover);
          border-color: var(--ds-controller-selected-bg-hover);
        }

        &:focus {
          background-color: var(--ds-controller-selected-bg-focused);
          border-color: var(--ds-controller-selected-bg-focused);
        }

        &:active, &:visited {
          background-color: var(--ds-controller-selected-bg-pressed);
          border-color: var(--ds-controller-selected-bg-pressed);
        }

        #{$this}__mark {
          opacity: 1;
        }
      }

      &:disabled {
        & + #{$this}__icon {
          background-color: var(--ds-controller-selected-bg-disabled);
          border-color: var(--ds-controller-border-color-disabled);
          color: var(--ds-controller-mark-dark);
        }
      }
    }

    &:disabled {
      & + #{$this}__icon {
        background-color: var(--grey-0);
        border-color: var(--ds-controller-bg-default-dark);
      }
    }
  }

  &--disabled {
    cursor: default;
  }

  &__right {
    @include mixin.flexbox;
    @include mixin.flex-direction(column);
    padding: var(--ds-controller-label-padding);
    max-width: calc(100% - var(--size-16));
  }

  &__label {
    font: var(--ds-controller-font);
    word-break: break-word;

    sup {
      margin-left: 2px;
    }
  }

  &--radio {
    input[type="radio"] {
      & + #{$this}__icon {
        border-radius: var(--ds-controller-border-radius-lg);
      }

      &:checked {
        & + #{$this}__icon {
          background-color: var(--ds-controller-mark-light);
          border-width: var(--ds-radio-border-width);

          &:hover, &:focus, &:active, &:visited {
            background-color: var(--ds-controller-mark-light);
          }
        }

        &:disabled {
          & + #{$this}__icon {
            border-color: var(--ds-controller-selected-bg-disabled);
            background-color: var(--ds-controller-mark-dark);
          }
        }
      }
    }
  }

  &--error {
    input[type="checkbox"] {
      & + #{$this}__icon {
        border-color: var(--ds-controller-error-border-color);
      }

      &:checked {
        & + #{$this}__icon {
          background-color: var(--ds-controller-error-bg-color);
          border-color: var(--ds-controller-error-border-color);

          &:hover, &:focus, &:active, &:visited {
            background-color: var(--ds-controller-error-bg-color);
            border-color: var(--ds-controller-error-border-color);
          }
        }
      }
    }

    #{$this}__label {
      a {
        color: var(--ds-controller-error-text-color);
      }
    }
  }

  &--switch {
    input[type="checkbox"] {
      & + #{$this}__icon {
        position: relative;
        border-radius: var(--ds-controller-border-radius-lg);
        background-color: var(--ds-controller-bg-default-dark);

        &:hover {
          background-color: var(--ds-controller-bg-hover-dark);
          border-color: var(--ds-controller-bg-hover-dark);

          #{$this}__mark {
            background-color: var(--ds-controller-bg-hover-dark);
          }
        }

        &:active, &:visited {
          background-color: var(--ds-controller-bg-pressed-dark);

          #{$this}__mark {
            background-color: var(--ds-controller-bg-pressed-dark);
          }
        }

        #{$this}__icon__inner {
          @include mixin.flexbox;
          @include mixin.align-items(center);
          @include mixin.justify-content(center);
          border-radius: var(--ds-controller-border-radius-lg);
          background-color: var(--ds-controller-bg-default-light);
          position: absolute;
          left: 2px;
          transition: transform .3s linear;
        }

        #{$this}__mark {
          width: var(--size-8);
          height: var(--size-8);
          border-radius: var(--ds-controller-border-radius-lg);
          background-color: var(--ds-controller-bg-default-dark);
        }
      }

      &:checked {
        & + #{$this}__icon {
          background-color: var(--ds-controller-selected-bg-default);
          border-color: var(--ds-controller-selected-bg-default);

          #{$this}__icon__inner {
            color: var(--ds-controller-selected-bg-default);
          }

          #{$this}__mark {
            background-color: var(--ds-controller-selected-bg-hover);
          }

          &:hover {
            background-color: var(--ds-controller-selected-bg-hover);

            #{$this}__icon__inner {
              color: var(--ds-controller-selected-bg-hover);
            }

            #{$this}__mark {
              background-color: var(--ds-controller-selected-bg-hover);
            }
          }

          &:active, &:visited {
            background-color: var(--ds-controller-selected-bg-pressed);

            #{$this}__icon__inner {
              color: var(--ds-controller-selected-bg-pressed);
            }

            #{$this}__mark {
              background-color: var(--ds-controller-selected-bg-pressed);
            }
          }
        }

        &:disabled {
          & + #{$this}__icon {
            background-color: var(--grey-0);
            border-color: var(--ds-controller-bg-default-dark);

            #{$this}__icon__inner {
              color: var(--ds-controller-mark-dark);
            }

            #{$this}__mark {
              background-color: var(--ds-controller-bg-default-dark);
            }
          }
        }
      }

      &:disabled {
        & + #{$this}__icon {
          background-color: var(--grey-0);
          border-color: var(--ds-controller-bg-default-dark);

          #{$this}__icon__inner {
            background-color: var(--ds-controller-bg-default-dark);
          }

          #{$this}__mark {
            background-color: var(--ds-controller-bg-default-dark);
          }
        }
      }
    }

    &-large {
      input[type="checkbox"] {
        & + #{$this}__icon {
          width: calc(var(--ds-switch-size-lg) * 2);
          height: var(--ds-switch-size-lg);

          #{$this}__icon__inner {
            width: var(--ds-switch-icon-size-lg);
            height: var(--ds-switch-icon-size-lg);
          }
        }

        &:checked {
          & + #{$this}__icon {
            #{$this}__icon__inner {
              transform: translateX(var(--ds-switch-size-lg));
            }
          }
        }
      }
    }

    &-small {
      input[type="checkbox"] {
        & + #{$this}__icon {
          width: calc(var(--ds-switch-size-sm) * 2);
          height: var(--ds-switch-size-sm);

          #{$this}__icon__inner {
            width: var(--ds-switch-icon-size-sm);
            height: var(--ds-switch-icon-size-sm);
          }
        }

        &:checked {
          & + #{$this}__icon {
            #{$this}__icon__inner {
              transform: translateX(var(--ds-switch-size-sm));
            }
          }
        }
      }
    }
  }
}
