@use "../helpers/mixin";

.dark-mode-switcher {
  $this: &;

  --ds-swither-inline-label-padding: var(--space-16);

  &--inline {
    @include mixin.flexbox;
    @include mixin.align-items(flex-start);
    gap: var(--space-16);
    align-items: center;

    #{$this}__label {
      padding-right: var(--ds-swither-inline-label-padding);
      margin: 0;
    }
  }

  .icon-sun {
    color: #ff6900;
    path, line {
      fill: none
    }
  }
  .icon-moon {
    color: var(--grey-900);
    path, line {
      fill: none
    }
  }
  &--space-between {
    @include mixin.justify-content(space-between);
  }
  .controller {
    align-items: center;
    gap: 5px;
    border: 1px solid var(--grey-200);
    padding: 4px 5px;
    border-radius: 16px;

    .controller__icon {
      background-color: var(--grey-600)!important;
      border-color: var(--grey-600)!important;
      &:hover {
        background-color: var(--grey-700)!important;
      }

      .controller__icon__inner {
        background-color: var(--grey-200)!important;
      }
      .svg-icon {
        position: absolute;
        right: 1px;
      }
      .controller__mark {
        background-color: var(--grey-200)!important;
      }
    }
  }
}

[data-theme="dark"] {
  .dark-mode-switcher {
    $this: &;
    .controller {
      border-color: var(--grey-40);
      .controller__icon {
        background-color: var(--grey-40)!important;
        border-color: var(--grey-40)!important;

        .controller__icon__inner {
          background-color: var(--grey-900)!important;
          left: 1px;
        }
        .controller__mark {
          background-color: var(--grey-900)!important;
        }
      }
    }

    .icon-sun {
      color: var(--grey-100);
      path, line {
        fill: none
      }
    }
    .icon-moon {
      color: #51a2ff;
      path, line {
        fill: none
      }
    }
  }
}
