.divider {
    $this: &;

    --ds-divider-bg-color: var(--grey-100);
    --ds-divider-bg-color-grey: var(--grey-200);

    border: none;

    &--horizontal {
        height: 1px;
        width: 100%;
    }

    &--vertical {
        width: 1px;
        height: 100%;
    }

    &--primary {
        background-color: var(--ds-divider-bg-color);

        &.divider--grey {
            background-color: var(--ds-divider-bg-color-grey);
        }
    }

    &--secondary {
        background: repeating-linear-gradient(90deg, var(--ds-divider-bg-color), var(--ds-divider-bg-color) 4px, transparent 6px, transparent 8px);

        &#{$this}--vertical {
            background: repeating-linear-gradient(0deg, var(--ds-divider-bg-color), var(--ds-divider-bg-color) 4px, transparent 6px, transparent 8px);
        }

        &.divider--grey {
            background: repeating-linear-gradient(90deg, var(--ds-divider-bg-color-grey), var(--ds-divider-bg-color-grey) 4px, transparent 6px, transparent 8px);

            &.divider--vertical {
                background: repeating-linear-gradient(0deg, var(--ds-divider-bg-color-grey), var(--ds-divider-bg-color-grey) 4px, transparent 6px, transparent 8px);
            }
        }
    }
}