@use "../helpers/mixin";
@use "../helpers/classname";

.dz-file-upload {
  @include mixin.flexbox();
  @include mixin.flex-direction(column);
  width: 100%;

  &__area {
    @include mixin.flexbox();
    @include mixin.justify-content(center);
    @include mixin.align-items(center);
    @include mixin.flex-direction(column);
    border-radius: var(--size-12);
    border: 1px dashed var(--grey-300);
    background: var(--white);
    padding: var(--size-32);
    cursor: pointer;

    &--active {
      border-color: var(--grey-200);
      background: var(--grey-30);
    }

    &--focused {
      border-color: var(--grey-200);
      background: var(--grey-30);
    }

    &--rejected {
      border-color: var(--red-600);
      background: #FFF;
    }
  }

  &__files {
    @include mixin.flexbox();
    @include mixin.flex-direction(column);
    gap: var(--size-16);
    margin-top: var(--size-12);

    &--item {
      @include mixin.flexbox();
      border-radius: var(--size-12);
      border: 1px solid var(--grey-300);
      background: #FFF;
      padding: var(--size-16);

      &__preview {
        width: var(--size-32);
        height: var(--size-32);
        position: initial;

        &--image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;

          &_default {
            object-fit: cover;
          }

          &--loading {
            display: none;
          }
        }
      }

      &__info {
        margin-left: var(--size-12);
        width: 100%;

        &-title {
            @include mixin.flexbox();
            @include mixin.justify-content(space-between);
            @include mixin.align-items(center);
        }
      }

      &--view {
        cursor: pointer;
      }
    }
  }
}