@use "../helpers/mixin";

.file-upload {
  --ds-upload-edit-icon-bg: var(--white);
  --ds-upload-edit-icon-size: var(--size-24);
  --ds-upload-edit-icon-border-radius: var(--border-radius-percent-100);
  --ds-upload-edit-icon-shadow: var(--shadow-1);

  input[type='file'] {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
  }

  .edit__icon {
    z-index: 1;
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(center);
    @include mixin.absolute(unset, 0, 0, unset);
    width: var(--ds-upload-edit-icon-size);
    height: var(--ds-upload-edit-icon-size);
    border-radius: var(--ds-upload-edit-icon-border-radius);
    box-shadow: var(--ds-upload-edit-icon-shadow);
    background-color: var(--ds-upload-edit-icon-bg);
  }
}

.upload-item {
  --ds-upload-item-height: var(--size-48);
  --ds-upload-item-padding: 0 var(--space-12);
  --ds-upload-item-border: 1px solid var(--grey-50);
  --ds-upload-item-border-radius: var(--border-radius-2);

  --ds-upload-item-image-size: var(--size-32);
  --ds-upload-item-image-border-radius: var(--border-radius-2);
  --ds-upload-item-image-margin: var(--space-8);

  --ds-upload-item-button-size: var(--size-24);

  $this: &;

  @include mixin.flexbox;
  @include mixin.align-items(center);
  width: 100%;
  height: var(--ds-upload-item-height);
  padding: var(--ds-upload-item-padding);
  border: var(--ds-upload-item-border);
  border-radius: var(--ds-upload-item-border-radius);

  &--error {
    border-color: var(--red-600);
  }

  &__image {
    min-width: var(--ds-upload-item-image-size);
    width: var(--ds-upload-item-image-size);
    height: var(--ds-upload-item-image-size);
    margin-right: var(--ds-upload-item-image-margin);
    border-radius: var(--ds-upload-item-image-border-radius);

    & + #{$this}__inner {
      width: calc(100% - var(--ds-upload-item-image-size) - var(--ds-upload-item-image-margin));
    }
  }

  &__inner {
    width: 100%;

    @include mixin.flexbox;
    @include mixin.flex-direction(column);
  }

  &__content {
    @include mixin.flexbox;
    @include mixin.justify-content(space-between);
    @include mixin.align-items(center);

    &__inner {
      width: calc(100% - var(--ds-upload-item-button-size));
    }
  }

  &__text {
    @include mixin.truncate(100%);
    cursor: pointer;
  }
}