@use "../helpers/mixin";

.input {
  $this: &;

  // MOBILE
  @media screen and (max-width: 768px) {
    input {
      font-size: var(--font-size-16) !important;
    }
  }

  input {
    border: 0;
    width: 100%;
    display: block;
    outline: none;
    font: var(--font-weight-400) var(--font-size-14)/var(--line-height-xs) var(--font-family-primary);
    padding: 0 var(--space-12);
    color: var(--grey-900);
    background-color: var(--white);
    border: var(--border-size-1) solid var(--grey-200);
    transition: background-color .3s linear, color .3s linear, border-color .3s linear;
    text-overflow: ellipsis;

    &:-ms-input-placeholder {
      color: var(--grey-500);
    }

    &::placeholder {
      color: var(--grey-500);
    }

    & + #{$this}__icon {
      color: var(--grey-400);
    }

    & + #{$this}__icon + #{$this}__icon {
      color: var(--grey-500);
    }

    &:hover {
      color: var(--grey-800);
      background-color: var(--grey-50);
      border-color: var(--grey-50);

      & + #{$this}__icon,
      & + #{$this}__icon + #{$this}__icon {
        color: var(--grey-800);
      }
    }

    &:focus {
      color: var(--grey-900);
      border-radius: var(--size-10);
      border: 1px solid var(--grey-900);
      background-color: var(--grey-0);
      box-shadow: 0 0 0 2px var(--grey-0), 0 0 0 4px var(--grey-200);

      & + #{$this}__icon {
        color: var(--grey-600);
      }

      & + #{$this}__icon + #{$this}__icon {
        color: var(--grey-900);
      }
    }

    &:active {
      color: var(--grey-900);
      background-color: var(--white);
      border-color: var(--grey-200);

      & + #{$this}__icon,
      & + #{$this}__icon + #{$this}__icon {
        color: var(--grey-900);
      }
    }

    &[disabled] {
      cursor: default;
      background-color: var(--grey-50);
      border-color: var(--grey-50);
      color: var(--grey-300);

      &:-ms-input-placeholder {
        color: var(--grey-300);
      }

      &::placeholder {
        color: var(--grey-300);
      }

      & + #{$this}__icon,
      & + #{$this}__icon + #{$this}__icon {
        color: var(--grey-300);
        pointer-events: none;
        cursor: default;
        
        svg path {
          fill: var(--grey-400);
        }
      }
    }

    &:read-only {
      cursor: default;
    }
  }

  &--valid {
    input {
      color: var(--grey-900);
      background-color: var(--white);
      border-color: var(--grey-200);

      & + #{$this}__icon {
        color: var(--grey-900);
      }
    }
  }

  &--invalid {
    input {
      color: var(--grey-900);
      background-color: var(--white);
      border-color: var(--red-400);

      & + #{$this}__icon {
        color: var(--grey-900);
      }
    }
  }

  &__inner {
    width: 100%;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: var(--space-10);
    }

    &--right {
      cursor: pointer;
      right: var(--space-10);
    }
  }

  &--icon-left {
    input {
      padding-left: var(--space-40);
    }
  }

  &--icon-right {
    input {
      padding-right: var(--space-40);
    }
  }

  &--medium {
    input {
      height: var(--size-40);
      border-radius: var(--border-radius-10);
    }
  }

  &--large {
    input {
      height: var(--size-48);
      border-radius: var(--border-radius-10);
    }
  }

  &--small {
    input {
      height: var(--size-32);
      border-radius: var(--border-radius-8);
    }
  }

  &__message {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
  }

  &__counter {
    flex: 1;
    text-align: right;
  }
}


