@use "../helpers/mixin";

.input {
  $this: &;

  // MOBILE
  @media screen and (max-width: 768px) {
    input {
      font-size: var(--font-size-16) !important;
    }
  }

  input {
    border: 0;
    width: 100%;
    display: block;
    outline: none;
    font: var(--font-weight-400) var(--font-size-14)/var(--line-height-xs) var(--font-family-primary);
    padding: 0 var(--space-12);
    color: var(--color-field-text);
    background-color: var(--color-field-bg);
    border: var(--border-size-1) solid var(--color-field-border);
    //transition: background-color .3s linear, color .3s linear, border-color .3s linear;
    text-overflow: ellipsis;

    &:-ms-input-placeholder {
      color: var(--color-field-placeholder);
    }

    &::placeholder {
      color: var(--color-field-placeholder);
    }

    & + #{$this}__icon {
      color: var(--color-field-icon);
    }

    & + #{$this}__icon + #{$this}__icon {
      color: var(--color-field-icon-strong);
    }

    &:hover {
      color: var(--color-field-text-hover);
      background-color: var(--color-field-bg-hover);
      border-color: var(--color-field-border-hover);

      & + #{$this}__icon,
      & + #{$this}__icon + #{$this}__icon {
        color: var(--color-field-text-hover);
      }
    }

    &:focus {
      color: var(--color-field-text);
      border-radius: var(--size-10);
      border: 1px solid var(--color-field-border-focus);
      background-color: var(--color-field-bg-focus);
      box-shadow: 0 0 0 2px var(--color-field-bg-focus), 0 0 0 4px var(--color-field-border);

      & + #{$this}__icon {
        color: var(--color-field-icon-focus);
      }

      & + #{$this}__icon + #{$this}__icon {
        color: var(--color-field-text);
      }
    }

    &:active {
      color: var(--color-field-text);
      background-color: var(--color-field-bg);
      border-color: var(--color-field-border);

      & + #{$this}__icon,
      & + #{$this}__icon + #{$this}__icon {
        color: var(--color-field-text);
      }
    }

    &[disabled] {
      cursor: default;
      background-color: var(--color-field-bg-disabled);
      border-color: var(--color-field-border-disabled);
      color: var(--color-field-text-disabled);

      &:-ms-input-placeholder {
        color: var(--color-field-placeholder-disabled);
      }

      &::placeholder {
        color: var(--color-field-placeholder-disabled);
      }

      & + #{$this}__icon,
      & + #{$this}__icon + #{$this}__icon {
        color: var(--color-field-text-disabled);
        pointer-events: none;
        cursor: default;

        svg path {
          fill: var(--color-field-icon);
        }
      }
    }

    &:read-only {
      cursor: default;
    }
  }

  &--valid {
    input {
      color: var(--color-field-text);
      background-color: var(--color-field-bg);
      border-color: var(--color-field-border);

      & + #{$this}__icon {
        color: var(--color-field-text);
      }
    }
  }

  &--invalid {
    input {
      color: var(--color-field-text);
      background-color: var(--color-field-bg);
      border-color: var(--color-field-border-invalid);

      & + #{$this}__icon {
        color: var(--color-field-text);
      }
    }
  }

  &__inner {
    width: 100%;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: var(--space-10);
    }

    &--right {
      cursor: pointer;
      right: var(--space-10);
    }
  }

  &--icon-left {
    input {
      padding-left: var(--space-40);
    }
  }

  &--icon-right {
    input {
      padding-right: var(--space-40);
    }
  }

  &--medium {
    input {
      height: var(--size-40);
      border-radius: var(--border-radius-10);
    }
  }

  &--large {
    input {
      height: var(--size-48);
      border-radius: var(--border-radius-10);
    }
  }

  &--small {
    input {
      height: var(--size-32);
      border-radius: var(--border-radius-8);
    }
  }

  &__message {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
  }

  &__counter {
    flex: 1;
    text-align: right;
  }
}

[data-theme="dark"] {
  .input {
    $this: &;

    & + #{$this}__icon + #{$this}__icon {
      color: var(--color-field-icon-adjacent);
      fill: var(--color-field-icon-adjacent);
    }

    input {
      border-color: var(--color-field-border-strong);
      background-color: var(--color-field-bg-elevated);
      color: var(--color-field-fg-subtle);

      &:focus {
        box-shadow: 0 0 2px 1px var(--color-field-focus-shadow);
      }

      &::placeholder {
        color: var(--color-field-fg-subtle);
      }

      &[disabled] {
        color: var(--color-field-fg-disabled);

        & + svg,
        & + svg + svg {
          path:not([fill]), circle:not([fill]), line:not([fill]) {
            fill: var(--color-field-fg-disabled);
          }
        }
      }
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-internal-autofill-selected {
    background-color: var(--color-field-autofill-bg) !important;
    box-shadow: 0 0 0 1000px var(--color-field-autofill-bg) inset !important;
    -webkit-text-fill-color: var(--color-field-autofill-fg) !important;
    color: var(--color-field-autofill-fg) !important;
  }
}
