.link {
  $this: &;
  color: var(--brand-700);
  transition: background-color .3s linear, color .3s linear, border-color .3s linear;
  text-decoration: none;

  &:hover {
    color: var(--brand-700);
    text-decoration: underline;
  }

  &:active {
    color: var(--brand-600);
  }

  &:focus {
    color: var(--brand-700);
  }
}