.link {
  $this: &;
  color: var(--brand-700);
  transition: background-color .3s linear, color .3s linear, border-color .3s linear;
  text-decoration: none;

  & {
    $color-type: (
      primary: var(--grey-900),
          secondary: var(--grey-800),
          tertiary: var(--grey-500),
          disabled: var(--grey-400),
          selected: var(--brand-500),
          inverse: var(--white),
          brand: var(--brand-700),
          success: var(--green-600),
          information: var(--blue-800),
          warning: var(--yellow-800),
          danger: var(--red-600),
          discovery: var(--purple-800),
    );

    @each $type, $color in $color-type {
      &-#{$type} {
        color: $color;

        &:hover, &:active, &:focus {
          text-decoration-color: $color;
        }
      }
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

[data-theme="dark"] {
  .link {
    & {
      $color-type: (
        primary: var(--grey-200),
        secondary: var(--color-10),
        tertiary: var(--grey-50),
        disabled: var(--grey-30),
        selected: var(--brand-500),
        inverse: var(--grey-500),
        brand: var(--brand-700),
        success: var(--green-600),
        information: var(--blue-800),
        warning: var(--yellow-800),
        danger: var(--red-600),
        discovery: var(--purple-800),
      );

      @each $type, $color in $color-type {
        &-#{$type} {
          color: $color;

          &:hover, &:active, &:focus {
            text-decoration-color: $color;
          }
        }
      }
    }
  }
}
