.link {
  $this: &;
  color: var(--color-link-base);
  transition: background-color .3s linear, color .3s linear, border-color .3s linear;
  text-decoration: none;

  & {
    $color-type: (
      primary: var(--color-link-primary),
          secondary: var(--color-link-secondary),
          tertiary: var(--color-link-tertiary),
          disabled: var(--color-link-disabled),
          selected: var(--color-link-selected),
          inverse: var(--color-link-inverse),
          brand: var(--color-link-brand),
          success: var(--color-link-success),
          information: var(--color-link-information),
          warning: var(--color-link-warning),
          danger: var(--color-link-danger),
          discovery: var(--color-link-discovery),
    );

    @each $type, $color in $color-type {
      &-#{$type} {
        color: $color;

        &:hover, &:active, &:focus {
          text-decoration-color: $color;
        }
      }
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

[data-theme="dark"] {
  .link {
    & {
      $color-type: (
        primary: var(--color-link-dark-primary),
        secondary: var(--color-link-dark-secondary),
        tertiary: var(--color-link-dark-tertiary),
        disabled: var(--color-link-dark-disabled),
        selected: var(--color-link-selected),
        inverse: var(--color-link-dark-inverse),
        brand: var(--color-link-brand),
        success: var(--color-link-success),
        information: var(--color-link-information),
        warning: var(--color-link-warning),
        danger: var(--color-link-danger),
        discovery: var(--color-link-discovery),
      );

      @each $type, $color in $color-type {
        &-#{$type} {
          color: $color;

          &:hover, &:active, &:focus {
            text-decoration-color: $color;
          }
        }
      }
    }
  }
}
