.bar {
  display: flex;
  width: 100%;
  height: var(--size-8);
  overflow: hidden;
  border-radius: 4px;
}

.bar__segment {
  transition: flex-basis 0.8s ease;

  &--color {
    $color-type: (
      'blue': var(--color-linechart-blue),
      'purple': var(--color-linechart-purple),
      'yellow': var(--color-linechart-yellow),
      'pink': var(--color-linechart-pink),
      'green': var(--color-linechart-green),
      'grey': var(--color-linechart-grey),
      'red': var(--color-linechart-red)
    );

    @each $type, $color in $color-type {
      &-#{$type} {
        background-color: $color;
      }
    }
  }
}
.line-chart-status {
  .status__circle {
    width: var(--size-8);
    height: var(--size-8);
    border-radius: 50%;
    display: inline-block;
    margin-right: var(--size-8);

    $color-type: (
      'blue': var(--color-linechart-blue),
      'purple': var(--color-linechart-purple),
      'yellow': var(--color-linechart-yellow),
      'pink': var(--color-linechart-pink),
      'green': var(--color-linechart-green),
      'grey': var(--color-linechart-grey),
      'red': var(--color-linechart-red)
    );

    @each $type, $color in $color-type {
      &--#{$type} {
        background-color: $color;
      }
    }
  }
}
