@use "../helpers/mixin";

.nested-menu {
  width: 408px;
  max-height: 748px;
  min-width: 408px;
  position: fixed;
  background-color: var(--white);
  box-shadow: var(--shadow-3);
  border-radius: var(--border-radius-8);;
  padding: var(--space-24);
  overflow-y: auto;

  .collapse {
    border-radius: 0;
    border: none;
    margin: 0;

    &_header {
      padding: var(--space-14) 0;
    }

    &_container {
      padding: 0;

      .divider {
        display: none;
      }
    }
  }

  &__sub-items {
    //margin: var(--space-8) 0;
  }

  &__sub-item {
    margin: 0;
    height: var(--size-48);
    @include mixin.font(14);
    padding: 0 var(--space-24);

    .select__option__inner {
      gap: var(--space-16);
    }
  }
}