@use "../helpers/mixin";

.pagination {
  @include mixin.flexbox;
  @include mixin.align-items(center);
  list-style-type: none;
  gap: var(--space-4);

  li {
    a {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      @include mixin.justify-content(center);
      color: var(--color-pagination-text);
      border-radius: var(--border-radius-8);
      cursor: pointer;
      border: 1px solid transparent;
      min-width: var(--size-32);
      height: var(--size-32);
      font: var(--font-weight-400) var(--size-14) var(--font-family-primary);

      &:focus {
        outline: none !important;
      }

      svg {
        path {
          fill: var(--color-pagination-text);
        }
      }
    }

    &:not(&.active, &.disabled) {
      a {
        &:hover {
          background-color: var(--color-pagination-hover-bg);
        }

        &:active {
          border-color: var(--color-pagination-active-border);
        }
      }
    }

    &.active {
      a {
        cursor: default;
        font-weight: var(--font-weight-500);
        background-color: var(--color-pagination-selected-bg);
        color: var(--color-pagination-selected-text);

        svg {
          path {
            fill: var(--color-pagination-selected-text);
          }
        }
      }
    }

    &.disabled {
      a {
        cursor: default;
        color: var(--color-pagination-disabled-text);
        border-color: var(--color-pagination-selected-bg);

        svg {
          path {
            fill: var(--color-pagination-disabled-text);
          }
        }

        &[rel="prev"], &[rel="next"] {
          border-color: transparent;
        }
      }
    }
  }

  &__more {
    font-size: 0;
  }
}
[data-theme="dark"] {
  .pagination {
    li {
      &.active {
        a {
          background-color: var(--color-pagination-dark-selected-bg);
          font-weight: var(--font-weight-700);
          color: var(--color-pagination-dark-selected-text);
        }
      }
    }
  }
}
