@use "../helpers/mixin";

.pagination {
  @include mixin.flexbox;
  @include mixin.align-items(center);
  list-style-type: none;
  gap: var(--space-4);

  li {
    a {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      @include mixin.justify-content(center);
      color: var(--grey-500);
      border-radius: var(--border-radius-8);
      cursor: pointer;
      border: 1px solid transparent;
      min-width: var(--size-32);
      height: var(--size-32);
      font: var(--ds-font-weight-default) var(--size-14) var(--ds-font-family);

      &:focus {
        outline: none !important;
      }

      svg {
        path {
          fill: var(--grey-500);
        }
      }
    }

    &:not(&.active, &.disabled) {
      a {
        &:hover {
          background-color: var(--grey-40);
        }

        &:active {
          border-color: var(--grey-200);
        }
      }
    }

    &.active {
      a {
        cursor: default;
        font-weight: var(--font-weight-500);
        background-color: var(--grey-50);
        color: var(--grey-900);

        svg {
          path {
            fill: var(--grey-900);
          }
        }
      }
    }

    &.disabled {
      a {
        cursor: default;
        color: var(--grey-400);
        border-color: var(--grey-50);

        svg {
          path {
            fill: var(--grey-400);
          }
        }

        &[rel="prev"], &[rel="next"] {
          border-color: transparent;
        }
      }
    }
  }

  &__more {
    font-size: 0;
  }
}