@use "../helpers/mixin";

.pagination {
  --ds-pagination-item-size: var(--ds-size-32);

  --ds-pagination-item-space: var(--ds-space-4);

  --ds-pagination-item-font-size-lg: var(--ds-size-14);
  --ds-pagination-item-font-size-md: var(--ds-size-14);
  --ds-pagination-item-font-size-sm: var(--ds-size-12);

  --ds-pagination-item-color: var(--ds-color-text-tertiary);
  --ds-pagination-item-color-active: var(--ds-color-text-primary);
  --ds-pagination-item-color-disabled: var(--ds-color-text-disabled);
  --ds-pagination-item-bg-hover: var(--ds-color-bg-container-light);
  --ds-pagination-item-bg-active: var(--ds-color-bg-container);

  --ds-pagination-item-border-color: transparent;
  --ds-pagination-item-border-color-disabeled: var(--ds-color-border-disabled);
  --ds-pagination-item-border-color-pressed: var(--ds-color-border-tertiary);
  --ds-pagination-item-border-radius: var(--ds-border-radius-md);

  @include mixin.flexbox;
  @include mixin.align-items(center);
  list-style-type: none;
  gap: var(--ds-pagination-item-space);


  li {
    a {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      @include mixin.justify-content(center);
      color: var(--ds-pagination-item-color);
      border-radius: var(--ds-pagination-item-border-radius);
      cursor: pointer;
      border: 1px solid var(--ds-pagination-item-border-color);
      min-width: var(--ds-pagination-item-size);
      height: var(--ds-pagination-item-size);
      font: var(--ds-font-weight-default) var(--ds-pagination-item-font-size-lg) var(--ds-font-family);

      &:focus {
        outline: none !important;
      }

      svg {
        path {
          fill: var(--ds-pagination-item-color);
        }
      }
    }

    &:not(&.active, &.disabled) {
      a {
        &:hover {
          background-color: var(--ds-pagination-item-bg-hover);
        }

        &:active {
          border-color: var(--ds-pagination-item-border-color-pressed);
        }
      }
    }

    &.active {
      a {
        cursor: default;
        font-weight: var(--font-weight-500);
        background-color: var(--ds-pagination-item-bg-active);
        color: var(--ds-pagination-item-color-active);

        svg {
          path {
            fill: var(--ds-pagination-item-color-active);
          }
        }
      }
    }

    &.disabled {
      a {
        cursor: default;
        color: var(--ds-pagination-item-color-disabled);
        border-color: var(--ds-pagination-item-border-color-disabeled);

        svg {
          path {
            fill: var(--ds-pagination-item-color-disabled);
          }
        }

        &[rel="prev"], &[rel="next"] {
          border-color: var(--ds-pagination-item-border-color);
        }
      }
    }
  }

  &__more {
    font-size: 0;
  }
}