@use "../helpers/mixin";

.popover {
  $this: &;
  @include mixin.flexbox;
  position: fixed;
  background-color: var(--white);
  border-radius: var(--border-radius-2);
  filter: drop-shadow(0px 1px 2px rgba(34, 34, 34, 0.06)) drop-shadow(0px 2px 2px rgba(34, 34, 34, 0.08)) drop-shadow(0px 1px 4px rgba(34, 34, 34, 0.08));
  min-width: var(--size-80);
  padding: var(--space-12);
  max-width: var(--size-240);
  max-height: 216px;
  z-index: 9999;
  white-space: normal;

  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: var(--size-6);
  }

  &__inner {
    max-height: 100%;
    word-break: break-word;
  }

  &__link {
    font: 400 var(--size-12)/var(--line-height-md) var(--font-family-primary);
  }

  &--top {
    &-left, &-center, &-right {
      &:after {
        top: 100%;
        border-color: var(--white) transparent transparent transparent;
      }
    }
  }

  &--bottom {
    &-left, &-center, &-right {

      &:after {
        bottom: 100%;
        border-color: transparent transparent var(--white) transparent;
      }
    }
  }

  &--top, &--bottom {
    &-left {
      &:after {
        left: var(--space-20);
      }
    }
  }

  &--top, &--bottom {
    &-right {
      &:after {
        right: var(--space-20);
      }
    }
  }

  &--top, &--bottom {
    &-center {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--middle {
    &-left, &-right {
      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-left {
      &:after {
        left: 100%;
        border-color: transparent transparent transparent var(--white);
      }
    }

    &-right {
      &:after {
        right: 100%;
        border-color: transparent var(--white) transparent transparent ;
      }
    }
  }
}

