@use "../helpers/mixin";

.progress-bar {
    $this: &;
    position: relative;
    font-family: var(--font-family-primary);

    &--linear {
        @include mixin.flexbox;
        @include mixin.align-items(center);

        &#{$this}--large {
            height: var(--size-6);

            #{$this}__percent {
                font-size: var(--font-size-12);
            }
        }

        &#{$this}--small {
            height: var(--size-2);

            #{$this}__percent {
                font-size: var(--font-size-10);
            }
        }

        #{$this}__inner {
            height: 100%;
            width: 100%;
            background-color: var(--grey-40);
            border-radius: var(--border-radius-8);
        }

        #{$this}__filled {
            height: 100%;
            background-color: var(--brand-500);
            border-radius: var(--border-radius-8);
            transition: width .3s linear;
        }

        #{$this}__percent {
            margin-left: var(--space-8);
        }
    }

    &--circle {
        svg {
            width: 100%;
            height: 100%;
            transform: rotate(-90deg);

            circle {
                width: 100%;
                height: 100%;
                fill: none;
                stroke: var(--grey-40);
                stroke-linecap: round;
                transition: stroke-dashoffset .3s linear;

                &:last-of-type {
                    stroke: var(--brand-500);
                }
            }
        }

        &#{$this}--large {
            circle {
                stroke-width: var(--size-4);
            }

            #{$this}__percent {
                font-size: var(--font-size-16);
            }
        }

        &#{$this}--small {
            circle {
                stroke-width: var(--size-2);
            }

            #{$this}__percent {
                font-size: var(--font-size-12);
            }
        }

        #{$this}__percent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--loop {
        svg {
            animation: infinite-loading 1.2s infinite linear;
        }
    }
}

@keyframes infinite-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}