@use "../helpers/mixin";

.profile-dropdown {
  width: 360px;
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius-10);
  background-color: var(--white);
  @include mixin.absolute(calc(100% + var(--space-8)), 0, unset, unset);

  &__top {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    padding: var(--space-16);
    border-bottom: 1px solid var(--grey-50);
  }

  &__nav {
    list-style: none;

    li {
      padding: var(--space-10) var(--space-16);
    }

    &__link {
      @include mixin.inline-flex;
      @include mixin.align-items(center);
      color: var(--grey-900);

      &:hover {
        color: var(--brand-700);
        text-decoration: none;
        transition: none;
        cursor: pointer;

        .svg-icon {
          path {
            fill: var(--brand-700);
          }
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid var(--grey-50);
  }
}
