@use "../helpers/mixin";

.snackbar {
  $this: &;

  @include mixin.flexbox;
  @include mixin.align-items(center);

  &__content {
    @include mixin.flexbox;
    @include mixin.align-items(flex-start);
    flex: 1;
  }

  &__text {
    flex: 1;
    word-break: break-word;
  }
}

.Toastify {
  --toastify-toast-width: 400px;
  --toastify-color-light: var(--white);
  --toastify-toast-min-height: var(--size-56);
  --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));

  --ds-snackbar-padding: var(--space-16) var(--space-24);
  --ds-snackbar-border-radius: var(--border-radius-2);
  --ds-snackbar-shadow: var(--shadow-2);

  &__toast-container {
    &.snackbar-wrapper {
      width: 100%;
      max-width: var(--toastify-toast-width);
      padding: 0 var(--space-16);

      .Toastify__toast {
        padding: var(--ds-snackbar-padding);
        border-radius: var(--ds-snackbar-border-radius);
        box-shadow: var(--ds-snackbar-shadow);
        margin-bottom: 0;

        &-body {
          width: 100%;
          padding: 0;

          >div {
            width: 100%;
          }
        }
      }
    }
    &--bottom-center {
      bottom: var(--toastify-toast-bottom) !important;
    }
  }
}
