@use "../helpers/mixin";

.status {
  $this: &;

  --ds-status-circle-size-lg: var(--size-8);
  --ds-status-circle-size-sm: var(--size-6);

  @include mixin.inline-flex;
  @include mixin.align-items(center);
  &__label{
   .status__label-text{
     white-space: nowrap;
   }
  }
  &__circle {
    display: block;
    border-radius: var(--border-radius-percent-100);
    width: var(--ds-status-circle-size-lg);
    min-width: var(--ds-status-circle-size-lg);
    height: var(--ds-status-circle-size-lg);
  }
  &__circle--primary {
    background-color: var(--color-status-circle-bg-primary);
  }
  &__circle--information {
    background-color: var(--color-status-circle-bg-information);
  }
  &__circle--brand {
    background-color: var(--color-status-circle-bg-brand);
  }
  &__circle--danger {
    background-color: var(--color-status-circle-bg-danger);
  }
  &__circle--success {
    background-color: var(--color-status-circle-bg-success);
  }
  &__circle--warning {
    background-color: var(--color-status-circle-bg-warning);
  }
  &__circle--discovery {
    background-color: var(--color-status-circle-bg-discovery);
  }
  &__circle--disabled {
    background-color: var(--color-status-circle-bg-disabled);
  }

  &__withBackground{
    padding: 4px 12px 4px 10px;
    border-radius: var(--border-radius-24)
  }
  &__withBackground--primary {
    background-color: var(--color-status-with-bg-bg-primary);
    border: var(--border-size-1) solid var(--color-status-with-bg-border-primary);
  }
  &__withBackground--information {
    background-color: var(--color-status-with-bg-bg-information);
    border: var(--border-size-1) solid var(--color-status-with-bg-border-information);
  }
  &__withBackground--brand {
    background-color: var(--color-status-with-bg-bg-brand);
    border: var(--border-size-1) solid var(--color-status-with-bg-border-brand);
  }
  &__withBackground--danger {
    background-color: var(--color-status-with-bg-bg-danger);
    border: var(--border-size-1) solid var(--color-status-with-bg-border-danger);
  }
  &__withBackground--success {
    background-color: var(--color-status-with-bg-bg-success);
    border: var(--border-size-1) solid var(--color-status-with-bg-border-success)
  }
  &__withBackground--warning {
    background-color: var(--color-status-with-bg-bg-warning);
    border: var(--border-size-1) solid var(--color-status-with-bg-border-warning);
  }
  &__withBackground--discovery {
    background-color: var(--color-status-with-bg-bg-discovery);
    border: var(--border-size-1) solid var(--color-status-with-bg-border-discovery);
  }
  &__withBackground--disabled {
    background-color: var(--color-status-with-bg-bg-disabled);
    border: var(--border-size-1) solid var(--color-status-with-bg-border-disabled);
  }

  &--small {
    #{$this}__circle {
      width: var(--ds-status-circle-size-sm);
      min-width: var(--ds-status-circle-size-sm);
      height: var(--ds-status-circle-size-sm);
    }
  }
}
[data-theme="dark"] {
  .status {
    &__circle--primary {
      background-color: var(--color-status-dark-circle-primary-bg);
    }

    &__withBackground {
      background-color: inherit;
    }

    &__withBackground--disabled {
      border-color: var(--color-status-dark-with-bg-disabled-border);
    }

    &__withBackground--warning {
      border-color: var(--color-status-dark-with-bg-warning-border);

      .color-warning {
        color: var(--color-status-dark-color-warning-text);
      }
    }
  }
}
