@use "../helpers/mixin";

.svg-icon {
  @include mixin.flexbox;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  width: 1em;
  height: 1em;
  vertical-align: top;
  font-size: var(--size-24);

  path {
    pointer-events: none;
  }

  &__size {
    $sizes: (
      xxsmall: var(--size-12),
      xsmall: var(--size-16),
      small: var(--size-20),
      medium: var(--size-24),
      large: var(--size-28),
      xlarge: var(--size-32),
      xxlarge: var(--size-48),
    );
    @each $key, $value in $sizes {
      &-#{$key} {
        font-size: $value;
      }
    }
  }

  &__type {
    $types: (
        primary: var(--grey-900),
        secondary: var(--grey-800),
        tertiary: var(--grey-500),
        disabled: var(--grey-400),
        selected: var(--brand-500),
        inverse: var(--white),
        brand: var(--brand-700),
        success: var(--green-600),
        information: var(--blue-800),
        warning: var(--yellow-800),
        danger: var(--red-600),
        discovery: var(--purple-800),
    );
    @each $key, $value in $types {
      &-#{$key} path {
        fill: $value;
      }
    }
  }
}