@use "../helpers/mixin";

.svg-icon {
  @include mixin.flexbox;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  width: 1em;
  min-width: 1em;
  height: 1em;
  vertical-align: top;
  font-size: var(--size-24);
  color: var(--color-svg-icon-base);

  path, circle, line {
    pointer-events: none;

    &:not([fill]) {
      fill: currentColor;
    }
  }

  &__size {
    $sizes: (
      xxsmall: var(--size-12),
      xsmall: var(--size-16),
      small: var(--size-20),
      medium: var(--size-24),
      large: var(--size-28),
      xlarge: var(--size-32),
      xxlarge: var(--size-48),
    );
    @each $key, $value in $sizes {
      &-#{$key} {
        font-size: $value;
      }
    }
  }

  &__type {
    $types: (
        primary: var(--color-svg-icon-type-primary),
        secondary: var(--color-svg-icon-type-secondary),
        tertiary: var(--color-svg-icon-type-tertiary),
        disabled: var(--color-svg-icon-type-disabled),
        selected: var(--color-svg-icon-type-selected),
        inverse: var(--color-svg-icon-type-inverse),
        brand: var(--color-svg-icon-type-brand),
        success: var(--color-svg-icon-type-success),
        information: var(--color-svg-icon-type-information),
        warning: var(--color-svg-icon-type-warning),
        danger: var(--color-svg-icon-type-danger),
        discovery: var(--color-svg-icon-type-discovery),
    );
    @each $key, $value in $types {
      &-#{$key} {
        color: $value;
      }
    }
  }
}

[data-theme="dark"] {
  .svg-icon {
    color: var(--color-svg-icon-dark-base);

    path, circle, line {
      pointer-events: none;

      &:not([fill]) {
        fill: currentColor;
      }
    }
    &__type {
      $types: (
        primary: var(--color-svg-icon-dark-type-primary),
        secondary: var(--color-svg-icon-dark-type-secondary),
        tertiary: var(--color-svg-icon-dark-type-tertiary),
        disabled: var(--color-svg-icon-dark-type-disabled),
        selected: var(--color-svg-icon-type-selected),
        inverse: var(--color-svg-icon-dark-type-inverse),
        brand: var(--color-svg-icon-dark-type-brand),
        success: var(--color-svg-icon-type-success),
        information: var(--color-svg-icon-type-information),
        warning: var(--color-svg-icon-dark-type-warning),
        danger: var(--color-svg-icon-type-danger),
        discovery: var(--color-svg-icon-type-discovery),
      );
      @each $key, $value in $types {
        &-#{$key} {
          color: $value;
        }
      }
    }
  }
}
