@use "../helpers/mixin";

.switcher {
  $this: &;

  --ds-swither-inline-label-padding: var(--space-16);

  &--inline {
    @include mixin.flexbox;
    @include mixin.align-items(flex-start);
    gap: var(--space-16);
    align-items: center;

    #{$this}__label {
      padding-right: var(--ds-swither-inline-label-padding);
      margin: 0;
    }
  }

  &--space-between {
    @include mixin.justify-content(space-between);
  }
}