@use "../helpers/mixin";

.advanced-table {
  --ds-table-th-height: var(--size-56);
  --ds-table-td-height: var(--size-56);

  --ds-table-td-padding: var(--space-8) var(--space-16);

  --ds-table-td-bg-hover: var(--grey-30);
  --ds-table-td-bg-selected: var(--grey-40);

  @include mixin.flexbox;
  @include mixin.flex-direction(column);
  height: 100%;
  position: relative;
  border-radius: var(--border-radius-16);
  font-size: var(--font-size-14);

  &__header-wrapper {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    z-index: 3;
    background-color: var(--white);
    height: var(--size-72);
    padding: 0 var(--space-24);
    border-bottom: 1px solid var(--grey-300);
    border-top-left-radius: var(--border-radius-16);
    border-top-right-radius: var(--border-radius-16);
  }

  &__collapse-button {
    margin-right: var(--space-16);
  }

  &__header {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    flex: 1;
  }

  &__footer {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    z-index: 1;
    background-color: var(--white);
    height: var(--size-64);
    padding: 0 var(--space-24);
    border-top: 1px solid var(--grey-300);
    border-bottom-left-radius: var(--border-radius-16);
    border-bottom-right-radius: var(--border-radius-16);
  }

  &__inner {
    overflow-x: auto;
    height: calc(100% - (var(--size-72) + var(--size-64)));
    transition: height 0.3s ease-in-out;

    &.is-collapsed {
      height: 0;
      overflow: hidden;
    }
  }

  &__thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background: var(--white);
  }

  .draggable-col {
    background-color: var(--white);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: var(--border-radius-8);
    text-align: left;
  }

  .resize-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    cursor: col-resize;
  }

  .border {
    border-width: 1px;
  }

  .w-fit {
    width: fit-content;
  }

  .select-none {
    user-select: none;
  }

  .touch-none {
    touch-action: none;
  }

  .hidden {
    display: none;
  }

  .z-10 {
    z-index: 10;
  }

  .column-menu {
    width: 140px;

    div {
      padding: 5px 12px;
    }

    input {
      margin-right: 8px;
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-height: 100%;

    thead {
      tr {
        th {
          border-bottom: 1px solid var(--grey-300);
          height: var(--ds-table-th-height);
          padding: var(--space-8) var(--space-16);
          vertical-align: middle;

          &.with-checkbox {
            max-width: var(--space-48);
            width: var(--space-48) !important;
            min-width: initial !important;
            padding: var(--space-8) var(--space-6) var(--space-8) 22px;

            .resize-icon {
              display: none;
            }
          }

          &.actions-header {
            .resize-icon {
              display: none;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid var(--grey-300);
          height: var(--ds-table-td-height);
          padding: var(--ds-table-td-padding);
          vertical-align: middle;

          &.with-checkbox {
            max-width: var(--space-48);
            width: var(--space-48) !important;
            min-width: initial !important;
            padding: var(--space-8) var(--space-6) var(--space-8) 22px;

    .actions-list {
              &__checkbox {
                display: none;

                &.active-checkbox {
                  @include mixin.flexbox;
                }
              }
            }
          }

          &:not(.with-checkbox, .action-column) {
            padding: var(--space-8) var(--space-16) !important;
            box-sizing: border-box;
          }
        }

        .action-column {
          padding: var(--space0);
          width: 0 !important;
          min-width: initial !important;
          @include mixin.flexbox;
          @include mixin.align-items(center);
        }

        &:hover {
          td {
            cursor: pointer;
            background-color: var(--grey-30);

            .actions-list {

              &__checkbox,
      &__right {
                @include mixin.flexbox;
              }
            }
          }

          .action-column {
            padding: var(--space0);
            @include mixin.flexbox;
            @include mixin.align-items(center);
          }

          .pinned-cell {
            background-color: var(--grey-30) !important;
          }
        }

        &.selected {
          td {
            background-color: var(--ds-table-td-bg-selected);
          }

          &+.advanced-table__expanded-row td {
            background-color: var(--ds-table-td-bg-selected);
          }

          .pinned-cell {
            background-color: var(--ds-table-td-bg-hover) !important;
          }
        }

        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }
    }
  }

  &__pagination {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
    height: 100%;
    width: 100%;

    &__right {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      gap: var(--space-24);

      &__input {
        width: var(--size-48);

        input {
          text-align: center;
        }
      }
    }

    .select {
      width: 140px;

      &.no-border {
        input {
          border: 0;
        }
      }
    }
  }

  &__expand-button {
    padding: var(--space-4);
    min-width: auto;
    width: var(--size-32);
    height: var(--size-32);
    flex-shrink: 0;
  }

  &__expanded-row {
    td {
      padding: var(--ds-table-td-padding) !important;
      height: var(--ds-table-td-height);
      border-bottom: 1px solid var(--grey-300);
      background-color: inherit;
      transition: background-color 0.2s ease;
      vertical-align: middle;

      .advanced-table__expanded-content {
        padding: 0;
        background-color: transparent;

        table {
          border-collapse: separate;
          border-spacing: 0;
          width: 100%;

          tbody {
            tr {
              td {
                border-bottom: none;
                padding: var(--ds-table-td-padding);
                height: var(--ds-table-td-height);
                vertical-align: middle;
                background-color: transparent;

                &.with-checkbox {
                  max-width: var(--space-48);
                  width: var(--space-48) !important;
                  min-width: initial !important;
                  padding: var(--space-8) var(--space-40) var(--space-8) 55px !important;
                  background-color: inherit;

                  .actions-list {
                    &__checkbox {
                      display: flex !important;
                    }
                  }

                  .indeterminate-checkbox {
                    margin: 0;
                  }
                }

                &.pinned-cell {
                  position: sticky;
                  background-color: inherit;
                  z-index: 1;
                }

                &.expand-column {
                  //width: 50px !important;
                  //min-width: 50px !important;
                  //max-width: 50px !important;
                  //flex: 0 0 50px !important;
                  box-sizing: border-box !important;
                  overflow: hidden !important;
                  white-space: nowrap !important;
                }
              }
            }
          }
        }
      }
    }

    &:hover td {
      background-color: var(--ds-table-td-bg-hover);

      .advanced-table__expanded-content table tbody tr td {
        background-color: var(--ds-table-td-bg-hover);

        &.with-checkbox {
          background-color: var(--ds-table-td-bg-hover);
        }
      }
    }

    tr.selected & td {
      background-color: var(--ds-table-td-bg-selected);

      .advanced-table__expanded-content table tbody tr td {
        background-color: var(--ds-table-td-bg-selected);

        &.with-checkbox {
          background-color: var(--ds-table-td-bg-selected);
        }
      }
    }
  }

  .expand-column {
    //width: 50px !important;
    //min-width: 50px !important;
    //max-width: 50px !important;
    padding: var(--space-8) var(--space-6) !important;
    flex: 0 0 50px !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    white-space: nowrap !important;
  }
}

.with-border {
  border: 1px solid var(--grey-300);
}

.actions-list {
  @include mixin.flexbox;
  @include mixin.align-items(center);
  height: 100%;

  &__right {
    @include mixin.absolute(0, 0, 0, unset);
    @include mixin.align-items(center);
    display: none;
        padding: var(--space-2) var(--space-16);
        gap: var(--space-8);
        background-color: var(--grey-30);

    &:before {
      content: '';
      position: absolute;
      left: -24px;
      width: 24px;
      height: 100%;
      background: linear-gradient(90deg, rgba(248, 248, 248, 0) 0%, #F8F8F8 92.6%);

    }
  }
}

.settings-menu {
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius-10);
  width: 260px;

  &__dropdown {
    padding: var(--space-6) 0;

    .relative {
      position: relative;
    }

    .sticky {
      position: sticky;
      top: 0;
      background: white;
      z-index: 1;
      border-bottom: 1px solid var(--grey-200) !important;
      padding: 0 var(--space-16);
    }

    .scrollbar--content {
      overflow-y: auto;
      max-height: 300px;
      padding: 0 var(--space-16);
      box-sizing: border-box;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__option {
      border-bottom: 1px solid var(--grey-200);
      margin-bottom: var(--space-4);

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }

      .switcher {
        @include mixin.align-items(center);
        height: 36px;

        &__label {
          font-size: var(--font-size-12);
          font-weight: var(--font-weight-400);
          text-transform: capitalize;
        }
      }
    }
  }
}