@use "../helpers/mixin";

.table-wrapper {
  &.table-row-clickable {
    tbody tr:hover {
      td {
        cursor: pointer;
      }
    }
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    thead {
      tr {
        th {
          background-color: var(--white);
          border-bottom: 1px solid var(--grey-300);
          height: var(--size-56);
          padding: 0 var(--space-16);
          vertical-align: middle;

          .table-header-title {
            white-space: break-spaces;
            min-width: 100px;
            word-wrap: break-word;
            text-align: left;
          }

          .unsorted__icon {
            display: none;
          }

          &:hover {
            .unsorted__icon {
              display: block;
            }
          }
        }
      }
    }

    tbody {
      tr {
        &.selected {
          td {
            border-bottom-color: var(--grey-100);
            background: var(--grey-100);
          }
        }
        &:hover {
          td {
            background-color: var(--grey-50);
          }
        }

        td {
          border-bottom: 1px solid var(--grey-200);
          height: var(--size-56);
          padding: 0 var(--space-16);
          vertical-align: middle;
          background-color: var(--grey-0);
        }
      }
    }
  }

  &__selected-rows {
    display:  flex;
    align-items: center;
    background-color: var(--grey-50);
    padding: var(--size-8) var(--size-24);
    border-radius: var(--size-40);
  }

  .fixed_header {
    @include mixin.sticky(0, unset, unset, unset);
    z-index: 2;
  }

  .fixed_checkbox {
    @include mixin.sticky(unset, unset, unset, 0);
    table-layout: fixed;
    width: var(--size-56);
    max-width: var(--size-56);
    min-width: var(--size-56);

    &+th,
    &+td {
      padding-left: 0;
    }
  }

  .fixed_column_left {
    @include mixin.sticky(0, unset, unset, unset);
    z-index: 1;
    border-right: 1px solid var(--grey-300)
  }

  .fixed_column_right {
    @include mixin.sticky(unset, 0, unset, unset);
    border-left: 1px solid var(--grey-300)
  }
}