@use "../helpers/mixin";

.tab {
  $this: &;

  @include mixin.inline-flex;
  @include mixin.align-items(center);
  position: relative;
  color: var(--grey-500);
  border-width: 0;
  border-style: solid;
  border-color: var(--grey-200);
  padding: 0 var(--space-24);
  box-sizing: border-box;

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 0;
    background-color: var(--brand-500);
    border-top-right-radius: var(--size-8);
    border-top-left-radius: var(--size-8);
    transition: width .3s linear;
  }

  &:last-child {
    margin: 0;
  }

  &__icon {
    color: var(--grey-800);
  }

  &__label {
    font: var(--ds-font-weight-active) var(--ds-paragraph-md)/1 var(--ds-font-family);
    color: var(--grey-500);
  }

  &:hover {
    cursor: pointer;

    #{$this}__icon {
      color: var(--grey-500);
    }

    #{$this}__label {
      color: var(--grey-500);
    }
  }

  &--disabled {
    &:hover {
      cursor: default;

      #{$this}__icon {
        color: var(--grey-400);
      }

      #{$this}__label {
        color: var(--grey-400);
      }
    }

    #{$this}__icon {
      color: var(--grey-400);
    }

    #{$this}__label {
      color: var(--grey-400);
    }
  }

  &--selected {
    &:hover {
      cursor: default;

      #{$this}__icon {
        color: var(--grey-900);
      }

      #{$this}__label {
        color: var(--grey-900);
      }
    }

    &:after {
      width: 100%;
    }

    #{$this}__icon {
      color: var(--grey-900);
    }

    #{$this}__label {
      color: var(--grey-900);
    }
  }

  &--large {
    height: var(--size-56);

    #{$this}__label {
      font-size: var(--ds-paragraph-md);
    }
  }

  &--medium {
    height: var(--size-48);

    #{$this}__label {
      font-size: var(--ds-paragraph-std);
    }
  }

  &--small {
    height: var(--size-32);

    #{$this}__label {
      font-size: var(--ds-paragraph-sm);
    }
  }
}

.tabs-container {
  width: 100%;
  display: flex;

  .tabs-header-container {
    --ds-tabs-border-size: 0 0 1px 0;
    --ds-tabs-border-default: var(--grey-100);

    @include mixin.inline-flex;
    @include mixin.align-items(flex-end);
    border-width: var(--ds-tabs-border-size);
    border-style: solid;
    border-color: var(--ds-tabs-border-default);
  }
}

@media screen and (max-width: 768px) {
  .tabs-container {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }
}