@use "../helpers/mixin";

.textarea {
  $this: &;

  textarea {
    border: 0;
    width: 100%;
    outline: none;
    font: var(--ds-font-weight-default) var(--ds-paragraph-std)/var(--ds-line-height-heading) var(--ds-font-family);
    color: var(--grey-500);
    transition: background-color .3s linear, color .3s linear, border-color .3s linear;
    height: var(--size-100);
    border-radius: var(--border-radius-10);
    border: var(--border-size-1) solid var(--grey-200);
    background-color: var(--white);
    padding: var(--space-10) var(--space-12);
    resize: none;

    &:-ms-input-placeholder {
      color: var(--grey-500);
    }
    &::placeholder {
      color: var(--grey-500);
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &:valid {
      color: var(--grey-900);
      background-color: var(--white);
      border-color: var(--grey-200);
    }

    &:invalid {
      color: var(--grey-900);
      background-color: var(--white);
      border-color: var(--red-800);
    }

    &:hover {
      background-color: var(--grey-30);
      border-color: var(--grey-300);
    }

    &:focus {
      color: var(--grey-900);
      background-color: var(--white);
      border-color: var(--brand-700);
    }

    &:active {
      color: var(--grey-900);
      background-color: var(--white);
      border-color: var(--grey-200);
    }

    &[disabled] {
      cursor: default;
      background-color: var(--white);
      border-color: var(--grey-50);
      color: var(--grey-400);

      &:-ms-input-placeholder {
        color: var(--grey-400);
      }
      &::placeholder {
        color: var(--grey-400);
      }
    }
  }

  &__message {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
  }

  &__counter {
    flex: 1;
    text-align: right;
  }
}


// MOBILE

@media screen and (max-width: 768px) {
  textarea{
    font-size: var(--ds-paragraph-md) !important;
  }
}