@use "../helpers/mixin";

.tooltip {
  $this: &;

  --ds-tooltip-bg: var(--white);
  --ds-tooltip-color: var(--white);
  --ds-tooltip-padding: var(--space-4) var(--space-8);
  --ds-tooltip-siz-lg: var(--size-32);
  --ds-tooltip-size-sm: var(--size-24);
  --ds-tooltip-border-radius: var(--border-radius-2);
  --ds-tooltip-max-width: var(--size-240);

  --ds-tooltip-arrow-size: var(--size-4);
  --ds-tooltip-arrow-position: var(--space-20);
  --ds-tooltip-arrow-bg: var(--white);
  --ds-tooltip-shadow: 0px 2px 4px rgba(34, 34, 34, 0.16);

  @include mixin.flexbox;
  @include mixin.align-items(center);
  position: fixed;
  color: var(--ds-tooltip-color);
  background-color: var(--ds-tooltip-bg);
  border-radius: var(--ds-tooltip-border-radius);
  filter: drop-shadow(#{var(--ds-tooltip-shadow)});
  max-width: var(--ds-tooltip-max-width);
  padding: var(--ds-tooltip-padding);
  z-index: 9999;

  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: var(--ds-tooltip-arrow-size);
  }

  &--large {
    min-height: var(--ds-tooltip-siz-lg);
  }

  &--small {
    min-height: var(--ds-tooltip-size-sm);
  }

  &__inner {
    word-break: break-word;
    white-space: normal;
  }

  &--top {
    &-left, &-center, &-right {
      &:after {
        top: 100%;
        border-color: var(--ds-tooltip-arrow-bg) transparent transparent transparent;
      }
    }
  }

  &--bottom {
    &-left, &-center, &-right {

      &:after {
        bottom: 100%;
        border-color: transparent transparent var(--ds-tooltip-arrow-bg) transparent;
      }
    }
  }

  &--top, &--bottom {
    &-left {

      &:after {
        left: var(--ds-tooltip-arrow-position);
      }
    }
  }

  &--top, &--bottom {
    &-right {
      &:after {
        right: var(--ds-tooltip-arrow-position);
      }
    }
  }

  &--top, &--bottom {
    &-center {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--middle {
    &-left, &-right {
      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-left {
      &:after {
        left: 100%;
        border-color: transparent transparent transparent var(--ds-tooltip-arrow-bg);
      }
    }

    &-right {
      &:after {
        right: 100%;
        border-color: transparent var(--ds-tooltip-arrow-bg) transparent transparent ;
      }
    }
  }
}

