@use "../helpers/mixin";

.under-construction {
  $this: &;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;

  &__content {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(center);
    @include mixin.flex-direction(column);
    text-align: center;
    max-width: 590px;
    margin: 0 auto;
  }

  &__icon {
    display: flex;
    padding: var(--space-24);
    align-items: center;
    gap: var(--space-12);
    margin: 0 auto;
    background-color: var(--green-20);
    border-radius: 50%;
  }

  &--large {
    padding: var(--space-80) var(--space-24);

    #{$this}__icon {
      width: 168px;
    }

    #{$this}__content {
      gap: 8px;
    }
  }

  &--small {
    padding: var(--space-40) var(--space-16);

    #{$this}__icon {
      width: 67px;
    }

    #{$this}__content {
      gap: 4px;
    }
  }
}