:root {
  //----------- default tokens -------------//

  --border-size-1: 1px;
  --border-size-2: 2px;

  --border-radius-0: 0;
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-24: 24px;
  --border-radius-40: 40px;
  --border-radius-100: 100px;
  --border-radius-percent-100: 100%;
}
