:root {
  //----------- default tokens -------------//

  --brand-900: #31531C;
  --brand-800: #416E26;
  --brand-700: #518A2F;
  --brand-600: #61A539;
  --brand-500: #72BF44;
  --brand-400: #80C557;
  --brand-300: #8ECC69;
  --brand-200: #9CD27C;
  --brand-100: #AAD98F;
  --brand-50: #B8DFA2;
  --brand-40: #CAE7B9;
  --brand-30: #DBEFD1;
  --brand-20: #EDF7E8;

  --green-900: #0B4627;
  --green-800: #0F5C33;
  --green-700: #147D46;
  --green-600: #199754;
  --green-500: #1FC16B;
  --green-400: #5ED495;
  --green-300: #83DFAE;
  --green-200: #AEEACB;
  --green-100: #D0F5E1;
  --green-50: #E0FAEC;
  --green-20: #E9F8DC;

  --blue-900: #2443B8;
  --blue-800: #2E63D6;
  --blue-700: #3475E8;
  --blue-600: #3C88F7;
  --blue-500: #4396F7;
  --blue-400: #54A6F8;
  --blue-300: #71B6F9;
  --blue-200: #9ACAFA;
  --blue-100: #C1DEFC;
  --blue-50: #E6F2FE;

  --purple-900: #081FA6;
  --purple-800: #0E2AB2;
  --purple-700: #2431B9;
  --purple-600: #3838C1;
  --purple-500: #453DC7;
  --purple-400: #6559D0;
  --purple-300: #8377D7;
  --purple-200: #A89DE2;
  --purple-100: #CBC4ED;
  --purple-50: #EAE7F7;
  --purple-20: #F5F3FB;

  --pink-900: #4A0A20;
  --pink-800: #79012F;
  --pink-700: #A2023F;
  --pink-600: #AD0244;
  --pink-500: #c9014f;
  --pink-400: #F50260;
  --pink-300: #FD2779;
  --pink-200: #FE7DAF;
  --pink-100: #FEA8C9;
  --pink-50: #FFD4E4;

  --red-900: #8B1822;
  --red-800: #AD1F2B;
  --red-700: #D02533;
  --red-600: #E93544;
  --red-500: #FB3748;
  --red-400: #FF6875;
  --red-300: #FF97A0;
  --red-200: #FFC0C5;
  --red-100: #FFD5D8;
  --red-50: #FFEBEC;
  --red-20: #FFF4F4;

  --yellow-900: #EB7520;
  --yellow-800: #ED912A;
  --yellow-700: #EEA02F;
  --yellow-600: #F0B134;
  --yellow-500: #F1BE39;
  --yellow-400: #f2c74a;
  --yellow-300: #F4D264;
  --yellow-200: #F7DE8E;
  --yellow-100: #FAEBB9;
  --yellow-50: #FDF7E4;

  --grey-900: #0E121B;
  --grey-800: #222530;
  --grey-700: #2B303B;
  --grey-600: #525866;
  --grey-500: #717784;
  --grey-400: #99A0AE;
  --grey-300: #CACFD8;
  --grey-200: #E1E4EA;
  --grey-100: #F2F5F8;
  --grey-50: #F5F7FA;
  --grey-40: #F4F5F4; // Todo review
  --grey-30: #F7F8F7; // Todo review
  --grey-20: #fafafa; // Todo review
  --grey-0: #FFFFFF;

  --white: #FEFEFE;


  //----------- alias tokens -------------//

  /**
  * @tokens Colors
  * @presenter Color
  */

  //background colors

  --ds-color-bg-white: var(--white);
  --ds-color-bg-disabled: var(--grey-50);

  --ds-color-bg-container: var(--grey-50);
  --ds-color-bg-container-dark: var(--grey-100);
  --ds-color-bg-container-darker: var(--grey-200);
  --ds-color-bg-container-light: var(--grey-40);
  --ds-color-bg-container-lighter: var(--grey-30);

  --ds-color-bg-brand: var(--brand-500);
  --ds-color-bg-brand-dark: var(--brand-600);
  --ds-color-bg-brand-darker: var(--brand-700);
  --ds-color-bg-brand-light: var(--brand-30);
  --ds-color-bg-brand-lighter: var(--brand-20);

  --ds-color-bg-danger: var(--red-700);
  --ds-color-bg-danger-dark: var(--red-600);
  --ds-color-bg-danger-dark-hover: var(--red-500);
  --ds-color-bg-danger-darker: var(--red-900);
  --ds-color-bg-danger-light: var(--red-100);
  --ds-color-bg-danger-lighter: var(--red-50);

  --ds-color-bg-warning: var(--yellow-600);
  --ds-color-bg-warning-dark: var(--yellow-800);
  --ds-color-bg-warning-darker: var(--yellow-900);
  --ds-color-bg-warning-light: var(--yellow-100);
  --ds-color-bg-warning-lighter: var(--yellow-50);

  --ds-color-bg-discovery: var(--purple-300);
  --ds-color-bg-discovery-dark: var(--purple-500);
  --ds-color-bg-discovery-darker: var(--purple-700);
  --ds-color-bg-discovery-light: var(--purple-100);
  --ds-color-bg-discovery-lighter: var(--purple-50);

  --ds-color-bg-info: var(--blue-400);
  --ds-color-bg-info-dark: var(--blue-600);
  --ds-color-bg-info-darker: var(--blue-800);
  --ds-color-bg-info-light: var(--blue-100);
  --ds-color-bg-info-lighter: var(--blue-50);

  --ds-color-bg-success: var(--green-400);
  --ds-color-bg-success-dark: var(--green-500);
  --ds-color-bg-success-darker: var(--green-700);
  --ds-color-bg-success-light: var(--green-100);
  --ds-color-bg-success-lighter: var(--green-50);

  --ds-color-bg-grey: var(--grey-300);
  --ds-color-bg-grey-dark: var(--grey-400);
  --ds-color-bg-grey-darker: var(--grey-500);
  --ds-color-bg-grey-light: var(--grey-100);
  --ds-color-bg-grey-lighter: var(--grey-50);

  //text colors
  --ds-color-text-primary: var(--grey-900);
  --ds-color-text-secondary: var(--grey-800);
  --ds-color-text-tertiary: var(--grey-500);
  --ds-color-text-disabled: var(--grey-400);
  --ds-color-text-selected: var(--brand-500);
  --ds-color-text-inverse: var(--white);
  --ds-color-text-brand: var(--brand-700);
  --ds-color-text-danger: var(--red-600);
  --ds-color-text-warning: var(--yellow-800);
  --ds-color-text-success: var(--green-600);
  --ds-color-text-info: var(--blue-800);
  --ds-color-text-discovery: var(--purple-800);

  //icon colors
  --ds-color-icon-primary: var(--grey-900);
  --ds-color-icon-secondary: var(--grey-700);
  --ds-color-icon-tertiary: var(--grey-500);
  --ds-color-icon-inverse: var(--white);
  --ds-color-icon-disabled: var(--grey-500);
  --ds-color-icon-brand: var(--brand-700);
  --ds-color-icon-danger: var(--red-800);
  --ds-color-icon-warning: var(--yellow-800);
  --ds-color-icon-success: var(--green-600);
  --ds-color-icon-selected: var(--brand-500);
  --ds-color-icon-info: var(--blue-800);
  --ds-color-icon-discovery: var(--purple-400);

  //border colors
  --ds-color-border-primary: var(--grey-400);
  --ds-color-border-secondary: var(--grey-300);
  --ds-color-border-tertiary: var(--grey-200);
  --ds-color-border-disabled: var(--grey-50);
  --ds-color-border-selected: var(--brand-500);
  --ds-color-border-inverse: var(--white);
  --ds-color-border-brand: var(--brand-500);
  --ds-color-border-danger: var(--red-800);
  --ds-color-border-warning: var(--yellow-800);
  --ds-color-border-success: var(--green-600);
  --ds-color-border-info: var(--blue-600);
  --ds-color-border-discovery: var(--purple-400);

  --ds-color-divider: var(--grey-100);
  --ds-color-divider-grey: var(--grey-200);

  /**
  * @tokens-end
  */
}

// ---------------------------------------------------------------------------
// Dark theme: semantic tokens for dark backgrounds (use with [data-theme="dark"])
// ---------------------------------------------------------------------------
[data-theme='dark'] {
  --brand-900: #E6F6DC;
  --brand-800: #CDEEBE;
  --brand-700: #B4E59F;
  --brand-600: #9BDC80;
  --brand-500: #84D95A; /* Main */
  --brand-400: #6BC941;
  --brand-300: #55B132;
  --brand-200: #3F9227;
  --brand-100: #2C6F1B;
  --brand-50: #1E4F13;
  --brand-40: #163C0F;
  --brand-30: #0F290A;
  --brand-20: #0A1C07;

  // Dark-mode greens derived from light scale (inverted tone order)
  --green-900: #E9F8DC; // light --green-20
  --green-800: #E0FAEC; // light --green-50
  --green-700: #D0F5E1; // light --green-100
  --green-600: #AEEACB; // light --green-200
  --green-500: #83DFAE; // light --green-300
  --green-400: #5ED495; // light --green-400
  --green-300: #1FC16B; // light --green-500
  --green-200: #199754; // light --green-600
  --green-100: #147D46; // light --green-700
  --green-50:  #0F5C33; // light --green-800
  --green-20:  #0B4627; // light --green-900

  // Dark-mode blues derived from light scale (inverted tone order)
  --blue-900: #E6F2FE; // light --blue-50
  --blue-800: #C1DEFC; // light --blue-100
  --blue-700: #9ACAFA; // light --blue-200
  --blue-600: #71B6F9; // light --blue-300
  --blue-500: #54A6F8; // light --blue-400
  --blue-400: #4396F7; // light --blue-500
  --blue-300: #3C88F7; // light --blue-600
  --blue-200: #3475E8; // light --blue-700
  --blue-100: #2E63D6; // light --blue-800
  --blue-50:  #2443B8; // light --blue-900

  // Dark-mode purples derived from light scale (inverted tone order)
  --purple-900: #F5F3FB; // light --purple-20
  --purple-800: #EAE7F7; // light --purple-50
  --purple-700: #CBC4ED; // light --purple-100
  --purple-600: #A89DE2; // light --purple-200
  --purple-500: #8377D7; // light --purple-300
  --purple-400: #6559D0; // light --purple-400
  --purple-300: #453DC7; // light --purple-500
  --purple-200: #3838C1; // light --purple-600
  --purple-100: #2431B9; // light --purple-700
  --purple-50:  #0E2AB2; // light --purple-800
  --purple-20:  #081FA6; // light --purple-900

  // Dark-mode pinks derived from light scale (inverted tone order)
  --pink-900: #FFD4E4; // light --pink-50
  --pink-800: #FEA8C9; // light --pink-100
  --pink-700: #FE7DAF; // light --pink-200
  --pink-600: #FD2779; // light --pink-300
  --pink-500: #F50260; // light --pink-400
  --pink-400: #c9014f; // light --pink-500
  --pink-300: #AD0244; // light --pink-600
  --pink-200: #A2023F; // light --pink-700
  --pink-100: #79012F; // light --pink-800
  --pink-50:  #4A0A20; // light --pink-900

  // Dark-mode reds derived from light scale (inverted tone order)
  --red-900: #FFF4F4; // light --red-20
  --red-800: #FFEBEC; // light --red-50
  --red-700: #FFD5D8; // light --red-100
  --red-600: #FFC0C5; // light --red-200
  --red-500: #FF97A0; // light --red-300
  --red-400: #FF6875; // light --red-400
  --red-300: #FB3748; // light --red-500
  --red-200: #E93544; // light --red-600
  --red-100: #D02533; // light --red-700
  --red-50:  #AD1F2B; // light --red-800
  --red-20:  #8B1822; // light --red-900

  // Dark-mode yellows derived from light scale (inverted tone order)
  --yellow-900: #FDF7E4; // light --yellow-50
  --yellow-800: #FAEBB9; // light --yellow-100
  --yellow-700: #F7DE8E; // light --yellow-200
  --yellow-600: #F4D264; // light --yellow-300
  --yellow-500: #f2c74a; // light --yellow-400
  --yellow-400: #F1BE39; // light --yellow-500
  --yellow-300: #F0B134; // light --yellow-600
  --yellow-200: #EEA02F; // light --yellow-700
  --yellow-100: #ED912A; // light --yellow-800
  --yellow-50:  #EB7520; // light --yellow-900

  --grey-0: #0E121B;
  --grey-20: #222530;
  --grey-30: #2B303B;
  --grey-40: #525866;
  --grey-50: #717784;
  --grey-100: #99A0AE;
  --grey-200: #CACFD8;
  --grey-300: #E1E4EA;
  --grey-400: #F2F5F8;
  --grey-500: #F5F7FA;
  --grey-600: #F4F5F4; // Todo review
  --grey-700: #F7F8F7; // Todo review
  --grey-800: #fafafa; // Todo review
  --grey-900: #FFFFFF;

  --white: #0E121B;

  //----------- alias tokens -------------//

  /**
  * @tokens Colors
  * @presenter Color
  */

  // background colors (tuned for dark bg #0E121B)

  // page / base background on dark
  --ds-color-bg-white: var(--grey-0);
  --ds-color-bg-disabled: var(--grey-800);

  // containers slightly lighter than page background
  --ds-color-bg-container: var(--grey-40);
  --ds-color-bg-container-dark: var(--grey-700);
  --ds-color-bg-container-darker: var(--grey-600);
  --ds-color-bg-container-light: var(--grey-800);
  --ds-color-bg-container-lighter: var(--grey-700);

  // brand / status backgrounds reuse base color scales
  --ds-color-bg-brand: var(--brand-500);
  --ds-color-bg-brand-dark: var(--brand-600);
  --ds-color-bg-brand-darker: var(--brand-700);
  --ds-color-bg-brand-light: var(--brand-30);
  --ds-color-bg-brand-lighter: var(--brand-20);

  --ds-color-bg-danger: var(--red-500);
  --ds-color-bg-danger-dark: var(--red-600);
  --ds-color-bg-danger-dark-hover: var(--red-400);
  --ds-color-bg-danger-darker: var(--red-700);
  --ds-color-bg-danger-light: var(--red-900);
  --ds-color-bg-danger-lighter: var(--red-800);

  --ds-color-bg-warning: var(--yellow-500);
  --ds-color-bg-warning-dark: var(--yellow-600);
  --ds-color-bg-warning-darker: var(--yellow-700);
  --ds-color-bg-warning-light: var(--yellow-900);
  --ds-color-bg-warning-lighter: var(--yellow-800);

  --ds-color-bg-discovery: var(--purple-500);
  --ds-color-bg-discovery-dark: var(--purple-600);
  --ds-color-bg-discovery-darker: var(--purple-700);
  --ds-color-bg-discovery-light: var(--purple-900);
  --ds-color-bg-discovery-lighter: var(--purple-800);

  --ds-color-bg-info: var(--blue-500);
  --ds-color-bg-info-dark: var(--blue-600);
  --ds-color-bg-info-darker: var(--blue-700);
  --ds-color-bg-info-light: var(--blue-900);
  --ds-color-bg-info-lighter: var(--blue-800);

  --ds-color-bg-success: var(--green-500);
  --ds-color-bg-success-dark: var(--green-600);
  --ds-color-bg-success-darker: var(--green-700);
  --ds-color-bg-success-light: var(--green-900);
  --ds-color-bg-success-lighter: var(--green-800);

  // greys for surfaces on dark
  --ds-color-bg-grey: var(--grey-800);
  --ds-color-bg-grey-dark: var(--grey-700);
  --ds-color-bg-grey-darker: var(--grey-600);
  --ds-color-bg-grey-light: var(--grey-900);
  --ds-color-bg-grey-lighter: var(--grey-800);

  // text colors on dark background
  --ds-color-text-primary: var(--grey-900);
  --ds-color-text-secondary: var(--grey-800);
  --ds-color-text-tertiary: var(--grey-500);
  --ds-color-text-disabled: var(--grey-400);
  --ds-color-text-selected: var(--brand-500);
  --ds-color-text-inverse: var(--white);
  --ds-color-text-brand: var(--brand-700);
  --ds-color-text-danger: var(--red-600);
  --ds-color-text-warning: var(--yellow-800);
  --ds-color-text-success: var(--green-600);
  --ds-color-text-info: var(--blue-800);
  --ds-color-text-discovery: var(--purple-800);

  // icon colors on dark background
  --ds-color-icon-primary: var(--grey-0);
  --ds-color-icon-secondary: var(--grey-200);
  --ds-color-icon-tertiary: var(--grey-400);
  --ds-color-icon-inverse: var(--grey-900);
  --ds-color-icon-disabled: var(--grey-500);
  --ds-color-icon-brand: var(--brand-300);
  --ds-color-icon-danger: var(--red-300);
  --ds-color-icon-warning: var(--yellow-300);
  --ds-color-icon-success: var(--green-300);
  --ds-color-icon-selected: var(--brand-500);
  --ds-color-icon-info: var(--blue-300);
  --ds-color-icon-discovery: var(--purple-300);

  // border colors on dark background
  --ds-color-border-primary: var(--grey-700);
  --ds-color-border-secondary: var(--grey-800);
  --ds-color-border-tertiary: var(--grey-20);
  --ds-color-border-disabled: var(--grey-800);
  --ds-color-border-selected: var(--brand-500);
  --ds-color-border-inverse: var(--grey-0);
  --ds-color-border-brand: var(--brand-500);
  --ds-color-border-danger: var(--red-400);
  --ds-color-border-warning: var(--yellow-400);
  --ds-color-border-success: var(--green-400);
  --ds-color-border-info: var(--blue-400);
  --ds-color-border-discovery: var(--purple-400);

  --ds-color-divider: var(--grey-800);
  --ds-color-divider-grey: var(--grey-700);

  /**
  * @tokens-end
  */
}