@import "https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100;200;400;500;600;700;800;900&family=Noto+Sans:wght@100;300;500;600;700;800;900&display=swap";

:root {
  //----------- default tokens -------------//


  --font-family-primary: 'Noto Sans Armenian', 'Noto Sans';
  --font-family-secondary: 'Tahoma';
  --font-family-tertiary: 'Open Sans';

  --font-size-6: 6px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-64: 64px;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --line-height-xs: 1.15;
  --line-height-sm: 1.2;
  --line-height-md: 1.32;
  --line-height-lg: 1.5;

  --letter-spacing: 1px;
}