:root {
  //----------- default tokens -------------//

  --overlay-1: rgba(0, 0, 0, 0.02);
  --overlay-2: rgba(0, 0, 0, 0.05);
  --overlay-3: rgba(34, 34, 34, 0.1);
  --overlay-4: rgba(34, 34, 34, 0.15);
  --overlay-5: rgba(34, 34, 34, 0.2);
  --overlay-6: rgba(34, 34, 34, 0.3);
  --overlay-7: rgba(34, 34, 34, 0.4);
  --overlay-8: rgba(34, 34, 34, 0.5);
  --overlay-9: rgba(34, 34, 34, 0.6);
  --overlay-10: rgba(34, 34, 34, 0.7);
}
