.custom_header_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: var(--ds-space-10);

  .selects_container {
    display: flex;
    align-items: center;
    min-width: 170px;
    justify-content: space-between;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .date_picker_select {
    .select__options {
      max-height: 200px;
    }
  }
}